Repository niall-byrne/stdlib: changes, and which pre-commit hooks are due for each by the changed paths.
All: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-binaries, test-files-headers, test-files-imports

documentation-build:
  name: build documentation using shdoc
  entry: bash -c "TEST_CONTAINER_DISABLE_TTY=1 ./container.sh run build/docs.sh REFERENCE.md"
  language: system
  pass_filenames: false
  require_serial: true

documentation-source-files:
  name: ensure source functions are correctly documented
  entry: python tools/documentation_check.py
  language: system
  pass_filenames: true
  require_serial: true

snippet-files-headers:
  name: ensure snippet files have correct headers
  entry: '\A(?!#!/bin/bash
  
    ).+\Z'
  args:
  - --multiline
  language: pygrep

source-files-binaries:
  name: ensure source files don't directly reference restricted binary commands
  entry: ^(?!.*\# noqa\s*$|^\s*#.*$).*((?<=\s|\()|(?<=^))(cat|cut|grep|head|mktemp|rm|sed|sort|tail|tput|tr)((\s|\)).*$|$)
  language: pygrep

source-files-headers:
  name: ensure source files have correct headers
  entry: '\A(?!#!/bin/bash
  
    (# shellcheck disable=.+
  
    ){0,1}
  
    # stdlib.+
  
    builtin set -eo pipefail
  
    ).+\Z'
  args:
  - --multiline
  language: pygrep

source-files-keywords:
  name: ensure source files use builtins prefaced with the 'builtin' command
  ...

source-files-testing-folder-function-names:
  name: ensure source files in the testing folder use the correct function names
  entry: ^(?!.*\# noqa\s*$|^\s*#.*$)(?!((assert_|_capture\.)[a-z_]+)|((__)*\$\{1\}|@parametrize)|((?!.+\._[^_].+)((__)*\$\{1\}|_testing|_mock|@parametrize))\.[a-z_.]+).*\(\) {$
  language: pygrep

source-files-testing-folder-global-variable-names:
  name: ensure source files in the testing folder use the correct global variable names for booleans
  entry: ^(?!.*\# noqa\s*$|^\s*#.*$)\s*([A-Z_]+)(?<!_BOOLEAN)=("[01]"|[01])$
  language: pygrep

test-files-binaries:
  name: ensure test files don't directly reference restricted binary commands
  entry: ^(?!.*\# noqa\s*$|^\s*#.*$).*((?<=\s|\()|(?<=^))(cat|cut|grep|head|mktemp|rm|sed|sort|tail|tput|tr)((\s|\)).*$|$)
  language: pygrep

test-files-headers:
  name: ensure test files have correct headers
  entry: '\A(?!#!/bin/bash
  
    ).+\Z'
  args:
  - --multiline
  language: pygrep

test-files-imports:
  name: ensure test files do not use the source keyword for imports
  entry: '\A#!/bin/bash
  
    .+((^ *|^ +|; *|\| *|\& *)(source |\. )(".+?"|\S+) *(;*)$)+.+\Z'
  args:
  - --multiline
  language: pygrep

feat(FN): allow disabling null args check
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  src/REFERENCE_COMPLETE.md
  src/fn/REFERENCE.md
  src/fn/args.sh
  src/fn/tests/args/test_stdlib_fn_args_require.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(VAR): add query/assertion for empty vars
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/REFERENCE.md
  src/var/assert/is.sh
  src/var/assert/tests/is/test_stdlib_var_assert_is_empty.sh
  src/var/query/is.sh
  src/var/query/tests/is/test_stdlib_var_query_is_empty.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(VAR): add query/assertion for set vars
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/REFERENCE.md
  src/var/assert/is.sh
  src/var/assert/tests/is/test_stdlib_var_assert_is_set.sh
  src/var/query/is.sh
  src/var/query/tests/is/test_stdlib_var_query_is_set.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(STRING): add query/assertion for not empty
  .vale/Vocab/stdlib/accept.txt
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/string/REFERENCE.md
  src/string/assert/not.sh
  src/string/assert/tests/not/test_stdlib_string_assert_not_empty.sh
  src/string/query/__lib__.sh
  src/string/query/not.sh
  src/string/query/tests/not/test_stdlib_string_query_not_empty.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(STRING): arg joining functions
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  src/REFERENCE_COMPLETE.md
  src/string/REFERENCE.md
  src/string/__lib__.sh
  src/string/args/__lib__.sh
  src/string/args/join.sh
  src/string/args/tests/test_stdlib_string_args_join.sh
  src/string/args/tests/test_stdlib_string_args_join_pipe.sh
  src/string/args/tests/test_stdlib_string_args_join_var.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(TESTING): error logging assertion
  .vale/Vocab/stdlib/accept.txt
  dist/stdlib_testing.sh
  docs/locales/en/LC_MESSAGES/reference_testing.po
  src/testing/REFERENCE_COMPLETE.md
  src/testing/assertion/REFERENCE.md
  src/testing/assertion/__lib__.sh
  src/testing/assertion/logger.sh
  src/testing/assertion/tests/logger/test_stdlib_logger_error_matches.sh
  src/testing/assertion/tests/logger/test_stdlib_logger_info_matches.sh
  src/testing/assertion/tests/logger/test_stdlib_logger_notice_matches.sh
  src/testing/assertion/tests/logger/test_stdlib_logger_success_matches.sh
  src/testing/assertion/tests/logger/test_stdlib_logger_warning_matches.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(TESTING): mock assertion
  .vale/Vocab/stdlib/accept.txt
  dist/stdlib_testing.sh
  docs/locales/en/LC_MESSAGES/reference_testing.po
  locales/en/LC_MESSAGES/stdlib_testing.po
  locales/stdlib_testing.pot
  src/testing/REFERENCE_COMPLETE.md
  src/testing/assertion/REFERENCE.md
  src/testing/assertion/__lib__.sh
  src/testing/assertion/message.sh
  src/testing/assertion/mock.sh
  src/testing/assertion/tests/message/test_stdlib_testing_message_get.sh
  src/testing/assertion/tests/mock/test_stdlib_testing_assert_is_mock.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(VAR): add query/assertion to validate vars
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/REFERENCE.md
  src/var/assert/is.sh
  src/var/assert/tests/is/test_stdlib_var_assert_is_valid_with.sh
  src/var/query/is.sh
  src/var/query/tests/is/test_stdlib_var_query_is_valid_with.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(VAR): add assertion to validate global vars
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/REFERENCE.md
  src/var/__lib__.sh
  src/var/global/__lib__.sh
  src/var/global/assert/__lib__.sh
  src/var/global/assert/is.sh
  src/var/global/assert/tests/is/test_stdlib_var_global_assert_is_valid_with.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(VAR): add assertion to validate reserved vars
  dist/stdlib.sh
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/__lib__.sh
  src/var/reserved/__lib__.sh
  src/var/reserved/assert/__lib__.sh
  src/var/reserved/assert/is.sh
  src/var/reserved/assert/tests/is/test_stdlib_var_reserved_assert_is_valid_with.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(FN): add derive assertion function
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/fn/REFERENCE.md
  src/fn/derive/__lib__.sh
  src/fn/derive/assertion.sh
  src/fn/derive/tests/assertion/test_stdlib_fn_derive_assertion.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(FN): add query/assertion to validate keywords
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/fn/REFERENCE.md
  src/fn/__lib__.sh
  src/fn/keyword/__lib__.sh
  src/fn/keyword/assert/__lib__.sh
  src/fn/keyword/assert/is.sh
  src/fn/keyword/assert/tests/is/test_stdlib_fn_keyword_assert_is_valid_with.sh
  src/fn/keyword/query/__lib__.sh
  src/fn/keyword/query/is.sh
  src/fn/keyword/query/tests/is/test_stdlib_fn_keyword_query_is_valid_with.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(FN): add validation to stdlib.fn.derive.var
  dist/stdlib.sh
  src/fn/derive/tests/var/test_stdlib_fn_derive_var.sh
  src/fn/derive/var.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(TOOLS): add more exit codes to doc check
  tools/documentation_check.py
  tools/tests/assets/documentation/non_standard_exitcodes.sh
  tools/tests/test_documentation_check.py
Due: test-files-binaries, test-files-headers, test-files-imports

feat(TOOLS): global var usage rule in doc check
  tools/documentation_check.py
  tools/tests/assets/documentation/global_variable_usage.sh
  tools/tests/test_documentation_check.py
Due: test-files-binaries, test-files-headers, test-files-imports

refactor(TOOLS): use modifier variable terminology
  tools/documentation_check.py
  tools/tests/assets/documentation/invalid_description.sh
  tools/tests/assets/documentation/modifier_var_validation.sh
  tools/tests/assets/documentation/modifier_variable_usage.sh
  tools/tests/assets/documentation/valid.sh
  tools/tests/test_documentation_check.py
Due: test-files-binaries, test-files-headers, test-files-imports

feat(TOOLS): modifier var consistency rule in doc check
  tools/documentation_check.py
  tools/tests/assets/documentation/invalid_description.sh
  tools/tests/assets/documentation/modifier_var_validation.sh
  tools/tests/assets/documentation/modifier_variable_usage.sh
  tools/tests/assets/documentation/valid.sh
  tools/tests/assets/documentation_modifier_variable_check/file1.sh
  tools/tests/assets/documentation_modifier_variable_check/file2.sh
  tools/tests/assets/documentation_modifier_variable_check/file3.sh
  tools/tests/assets/documentation_modifier_variable_check/file4.sh
  tools/tests/assets/documentation_modifier_variable_check/file5.sh
  tools/tests/assets/documentation_modifier_variable_check/file6.sh
  tools/tests/documentation_check/test_derive_rules.py
  tools/tests/documentation_check/test_main.py
  tools/tests/documentation_check/test_modifier_variable_consistency.py
  tools/tests/documentation_check/test_parsing.py
  tools/tests/documentation_check/test_validation_rules.py
  tools/tests/test_documentation_check.py
Due: test-files-binaries, test-files-headers, test-files-imports

feat(TOOLS): modifier var whitelist in doc check
  tools/documentation_check.py
  tools/tests/assets/documentation_check/whitelist/consistent/whitelist_file1.sh
  tools/tests/assets/documentation_check/whitelist/consistent/whitelist_file2.sh
  tools/tests/assets/documentation_check/whitelist/malformed/whitelist_malformed.sh
  tools/tests/documentation_check/test_whitelist_consistency.py
Due: test-files-binaries, test-files-headers, test-files-imports

feat(TOOLS): tag/modifier ordering rules in doc check
  tools/documentation_check.py
  tools/tests/assets/documentation/interleaved_tags.sh
  tools/tests/assets/documentation/sort_exitcodes.sh
  tools/tests/assets/documentation/sort_modifier_vars.sh
  tools/tests/assets/documentation/sort_set_tags.sh
  tools/tests/documentation_check/test_validation_rules.py
Due: test-files-binaries, test-files-headers, test-files-imports

refactor(TOOLS): reorganize test assets/naming
  tools/tests/assets/documentation/modifier_var_consistency/file1.sh
  tools/tests/assets/documentation/modifier_var_consistency/file2.sh
  tools/tests/assets/documentation/modifier_var_consistency/file3.sh
  tools/tests/assets/documentation/modifier_var_consistency/file4.sh
  tools/tests/assets/documentation/modifier_var_consistency/file5.sh
  tools/tests/assets/documentation/modifier_var_consistency/file6.sh
  tools/tests/assets/documentation/modifier_var_whitelist_consistent.sh
  tools/tests/assets/documentation/modifier_var_whitelist_malformed.sh
  tools/tests/assets/documentation_check/whitelist/consistent/whitelist_file2.sh
  tools/tests/documentation_check/test_modifier_variable_consistency.py
  tools/tests/documentation_check/test_modifier_variable_consistency_whitelist.py
  tools/tests/documentation_check/test_whitelist_consistency.py
Due: test-files-binaries, test-files-headers, test-files-imports

feat(TOOLS): ignore stdout/stderr triggers in comments
  tools/documentation_check.py
  tools/tests/assets/documentation/missing_outputs_comments.sh
  tools/tests/documentation_check/test_validation_rules.py
Due: test-files-binaries, test-files-headers, test-files-imports

feat(IO): global variable validation
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/io/REFERENCE.md
  src/io/lock.sh
  src/io/stdin.sh
  src/io/tests/lock/test_stdlib_io_lock_acquire.sh
  src/io/tests/lock/test_stdlib_io_lock_release.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_allocate.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_cleanup.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_is_valid.sh
  src/io/tests/stdin/test_stdlib_io_stdin_prompt.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(SETTING): modifier variable validation
  dist/stdlib.sh
  src/setting/colour.sh
  src/setting/state/disabled.sh
  src/setting/state/enabled.sh
  src/setting/state/theme.sh
  src/setting/tests/colour/test_stdlib_setting_colour_enable.sh
  src/setting/theme.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(FN): modifier variable validation
  dist/stdlib.sh
  src/REFERENCE_COMPLETE.md
  src/fn/REFERENCE.md
  src/fn/args.sh
  src/fn/derive/pipeable.sh
  src/fn/keyword/assert/is.sh
  src/fn/keyword/query/is.sh
  src/fn/tests/args/test_stdlib_fn_args_require.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(IO): lock file permission controls
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  src/REFERENCE_COMPLETE.md
  src/io/REFERENCE.md
  src/io/lock.sh
  src/io/tests/lock/test_stdlib_io_lock_acquire.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_allocate.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

test(HOST): allow test execution without docker
  AGENTS.md
  Dockerfile
  host.sh
Due: none

feat(TRAPS): modifier variable validation
  build/package.sh
  dist/stdlib.sh
  src/trap/create.sh
  src/trap/register.snippet
  src/trap/tests/create/test_stdlib_trap_create_cleanup_fn.sh
  src/trap/tests/create/test_stdlib_trap_create_handler.sh
  src/trap/tests/register_snippet/test_stdlib_trap_register_snippet.sh
  src/trap/tests/trap/test_stdlib_trap_register_default_handlers.sh
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(BINARIES): lock down all consumed binaries
  .pre-commit-config.yaml
  dist/stdlib.sh
  dist/stdlib_testing.sh
  src/__lib__.sh
  src/binary.sh
  src/message.sh
  src/security/getter.sh
  src/security/path/make.sh
  src/security/path/query/has.sh
  src/security/path/query/tests/has/test_stdlib_security_path_query_has_group.sh
  src/security/path/query/tests/has/test_stdlib_security_path_query_has_owner.sh
  src/security/path/query/tests/has/test_stdlib_security_path_query_has_permissions.sh
  src/security/path/secure.sh
  src/security/path/tests/make/test_stdlib_security_path_make_dir.sh
  src/security/path/tests/make/test_stdlib_security_path_make_file.sh
  src/security/path/tests/secure/test_stdlib_security_path_secure.sh
  src/security/shell/shell.snippet
  src/security/tests/getter/test_stdlib_security_getter_gid.sh
  src/security/tests/getter/test_stdlib_security_getter_uid.sh
  src/security/tests/getter/test_stdlib_security_getter_uid_next_available.sh
  src/testing/fixtures/debug.sh
  src/testing/mock/components/getter.sh
  tools/binary_check.py
  tools/tests/assets/binary_check/mock.sh
  tools/tests/test_binary_check.py
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-binaries, test-files-headers, test-files-imports

-wip: consuming keywords
  src/fn/keyword/__lib__.sh
  src/fn/keyword/consume.sh
  src/fn/keyword/tests/consume/test_stdlib_fn_keyword_consume.sh
  src/fn/keyword/tests/consume/test_stdlib_fn_keyword_consume_array.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(VAR): modifier variable validation
  dist/stdlib.sh
  src/REFERENCE_COMPLETE.md
  src/var/REFERENCE.md
  src/var/assert/is.sh
  src/var/assert/tests/is/test_stdlib_var_assert_is_valid_with.sh
  src/var/global/assert/is.sh
  src/var/global/assert/tests/is/test_stdlib_var_global_assert_is_valid_with.sh
  src/var/query/is.sh
  src/var/query/tests/is/test_stdlib_var_query_is_valid_with.sh
  src/var/reserved/assert/is.sh
  src/var/reserved/assert/tests/is/test_stdlib_var_reserved_assert_is_valid_with.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(LOGGER): modifier variable validation
  src/logger/logger.sh
  src/logger/tests/test_stdlib_logger_error.sh
  src/logger/tests/test_stdlib_logger_info.sh
  src/logger/tests/test_stdlib_logger_notice.sh
  src/logger/tests/test_stdlib_logger_success.sh
  src/logger/tests/test_stdlib_logger_warning.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(STRING): sensible colour selection fallback
  dist/stdlib.sh
  src/setting/tests/theme/test_stdlib_setting_theme_get_colour.sh
  src/setting/theme.sh
  src/string/colour/tests/test_stdlib_string_colour_n.sh
  src/string/colour/tests/test_stdlib_string_colour_substring.sh
  src/string/colour/tests/test_stdlib_string_colour_substrings.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

parametrizer
  src/testing/REFERENCE.md
  src/testing/REFERENCE_COMPLETE.md
  src/testing/parametrize/REFERENCE.md
  src/testing/parametrize/apply.sh
  src/testing/parametrize/compose.sh
  src/testing/parametrize/internal/__lib__.sh
  src/testing/parametrize/internal/configuration.sh
  src/testing/parametrize/internal/create.sh
  src/testing/parametrize/internal/default.sh
  src/testing/parametrize/internal/tests/configuration/test_stdlib_testing_parametrize_internal_configuration_parse.sh
  src/testing/parametrize/internal/tests/create/test_stdlib_testing_parametrize_internal_create_array_fn_variant_names.sh
  src/testing/parametrize/internal/tests/create/test_stdlib_testing_parametrize_internal_create_fn_test_variant.sh
  src/testing/parametrize/internal/tests/create/test_stdlib_testing_parametrize_internal_create_string_padded_variant_name.sh
  src/testing/parametrize/internal/tests/validate/test_stdlib_testing_parametrize_internal_validate_fn_name_parametrizer_fn.sh
  src/testing/parametrize/internal/tests/validate/test_stdlib_testing_parametrize_internal_validate_fn_name_test.sh
  src/testing/parametrize/internal/tests/validate/test_stdlib_testing_parametrize_internal_validate_keywords.sh
  src/testing/parametrize/internal/tests/validate/test_stdlib_testing_parametrize_internal_validate_keywords_aggregation.sh
  src/testing/parametrize/internal/tests/validate/test_stdlib_testing_parametrize_internal_validate_reserved_variables.sh
  src/testing/parametrize/internal/tests/validate/test_stdlib_testing_parametrize_internal_validate_scenario.sh
  src/testing/parametrize/internal/validate.sh
  src/testing/parametrize/message.sh
  src/testing/parametrize/parametrize.sh
  src/testing/parametrize/tests/__fixtures__/parametrizers.sh
  src/testing/parametrize/tests/apply/test_stdlib_testing_parametrize_apply.sh
  src/testing/parametrize/tests/apply/test_stdlib_testing_parametrize_apply_api.sh
  src/testing/parametrize/tests/compose/test_stdlib_testing_parametrize_compose.sh
  src/testing/parametrize/tests/compose/test_stdlib_testing_parametrize_compose_api.sh
  src/testing/parametrize/tests/message/test_stdlib_testing_parametrize_message_get.sh
  src/testing/parametrize/tests/parametrize/test_stdlib_testing_parametrize.sh
  src/testing/parametrize/tests/parametrize/test_stdlib_testing_parametrize_api.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-binaries, test-files-headers, test-files-imports

leftovers
  src/builtin.sh
  src/deferred.sh
  src/gettext.sh
  src/string/colour/colour.sh
  src/string/colour/substring.sh
  src/string/lines/join.sh
  src/string/lines/map.sh
  src/string/wrap.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords

wip: string
  src/string/tests/wrap/test_stdlib_string_wrap.sh
  src/string/wrap.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

mock changes
  src/testing/mock/REFERENCE.md
  src/testing/mock/arg_string/make.sh
  src/testing/mock/arg_string/tests/arg_string/test_stdlib_testing_mock_arg_string_make_from_string.sh
  src/testing/mock/components/assertion.sh
  src/testing/mock/components/call.sh
  src/testing/mock/components/controller.sh
  src/testing/mock/components/getter.sh
  src/testing/mock/components/main.sh
  src/testing/mock/components/setter.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_any_call_is.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_call_n_is.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_called_once_with.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_calls_are.sh
  src/testing/mock/components/tests/getter/test_stdlib_testing_mock_object_get_call.sh
  src/testing/mock/components/tests/getter/test_stdlib_testing_mock_object_get_calls.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_side_effects.sh
  src/testing/mock/internal/compile.sh
  src/testing/mock/internal/persistence/registry.sh
  src/testing/mock/internal/persistence/sequence.sh
  src/testing/mock/internal/persistence/tests/registry/test_stdlib_testing_mock_internal_persistence_registry_add_mock.sh
  src/testing/mock/internal/persistence/tests/registry/test_stdlib_testing_mock_internal_persistence_registry_apply_to_all.sh
  src/testing/mock/internal/persistence/tests/registry/test_stdlib_testing_mock_internal_persistence_registry_cleanup.sh
  src/testing/mock/internal/persistence/tests/registry/test_stdlib_testing_mock_internal_persistence_registry_create.sh
  src/testing/mock/internal/persistence/tests/sequence/test_stdlib_testing_mock_internal_persistence_sequence_initialize.sh
  src/testing/mock/internal/security/assert/is.sh
  src/testing/mock/internal/security/assert/tests/is/test_stdlib_testing_mock_internal_security_assert_is_builtin.sh
  src/testing/mock/mock.sh
  src/testing/mock/sequence.sh
  src/testing/mock/tests/mock/test_stdlib_testing_mock_create.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

general testing
  src/testing/assertion/logger.sh
  src/testing/capture/assertion_failure.sh
  src/testing/error.sh
  src/testing/fixtures/debug.sh
  src/testing/load.sh
  src/testing/protect.sh
  src/testing/tests/error/test_stdlib_testing_error_pipe.sh
  src/testing/tests/load/test_stdlib_testing_load.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(MOCK): ensure declare usage is protected
  dist/stdlib_testing.sh
  locales/en/LC_MESSAGES/stdlib_testing.po
  locales/stdlib_testing.pot
  src/testing/mock/components/assertion.sh
  src/testing/mock/components/controller.sh
  src/testing/mock/components/getter.sh
  src/testing/mock/components/setter.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_any_call_is.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_call_n_is.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_called_once_with.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_calls_are.sh
  src/testing/mock/components/tests/getter/test_stdlib_testing_mock_object_get_call.sh
  src/testing/mock/components/tests/getter/test_stdlib_testing_mock_object_get_calls.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_side_effect_queue.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_side_effects.sh
  src/testing/mock/internal/security/__lib__.sh
  src/testing/mock/internal/security/assert/__lib__.sh
  src/testing/mock/internal/security/assert/is.sh
  src/testing/mock/internal/security/assert/tests/is/test_stdlib_testing_mock_internal_security_assert_is_builtin.sh
  src/testing/mock/message.sh
  src/testing/mock/tests/message/test_stdlib_testing_mock_message_get.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

docs(SHDOC): tighten global variable rules
  CONTRIBUTING.md
  src/builtin.sh
  src/fn/args.sh
  src/fn/derive/pipeable.sh
  src/io/stdin.sh
  src/logger/logger.sh
  src/setting/colour.sh
  src/string/lines/join.sh
  src/string/lines/map.sh
  src/string/wrap.sh
  tools/documentation_check.py
  tools/tests/assets/invalid_description.sh
  tools/tests/test_documentation_check.py
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-binaries, test-files-headers, test-files-imports

feat(BOOTSTRAP): simplify process
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
  build/build.sh
  build/t
  dist/stdlib.sh
  src/__lib__.sh
  src/deferred.sh
  src/tests/deferred/test_stdlib_deferred_defer.sh
  src/tests/deferred/test_stdlib_deferred_execute.sh
  src/tests/deferred/test_stdlib_deferred_initialize.sh
  src/trap/register.snippet
  src/trap/tests/register_snippet/test_stdlib_trap_register_snippet.sh
  src/trap/tests/trap/test_stdlib_trap.sh
  src/trap/tests/trap/test_stdlib_trap_register_default_handlers.sh
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

Path conditions:
  documentation-build: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  documentation-source-files: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh|src/testing/.+\.sh)$
  snippet-files-headers: any of: ^src/.+\.snippet$
  source-files-binaries: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-headers: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-keywords: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-testing-folder-function-names: any of: ^src/testing/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-testing-folder-global-variable-names: any of: ^src/testing/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  test-files-binaries: any of: ^((.+/)*tests/.+\.sh)$, but not: ^.*/test_.+\.sh$
  test-files-headers: any of: ^((.+/)*tests/.+\.sh)$
  test-files-imports: any of: ^((.+/)*tests/.+\.sh)$
