Repository niall-byrne/stdlib: changes, and which pre-commit hooks are due for each by the changed paths.
All: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-binaries, test-files-headers, test-files-imports

documentation-build:
  name: build documentation using shdoc
  entry: bash -c "TEST_CONTAINER_DISABLE_TTY=1 ./container.sh run build/docs.sh REFERENCE.md"
  language: system
  pass_filenames: false
  require_serial: true

documentation-source-files:
  name: ensure source functions are correctly documented
  entry: python tools/documentation_check.py
  language: system
  pass_filenames: true
  require_serial: true

snippet-files-headers:
  name: ensure snippet files have correct headers
  entry: '\A(?!#!/bin/bash
  
    ).+\Z'
  args:
  - --multiline
  language: pygrep

source-files-binaries:
  name: ensure source files don't directly reference restricted binary commands
  entry: ^(?!.*\# noqa\s*$|^\s*#.*$).*((?<=\s|\()|(?<=^))(cat|cut|grep|head|mktemp|rm|sed|sort|tail|tput|tr)((\s|\)).*$|$)
  language: pygrep

source-files-headers:
  name: ensure source files have correct headers
  entry: '\A(?!#!/bin/bash
  
    (# shellcheck disable=.+
  
    ){0,1}
  
    # stdlib.+
  
    builtin set -eo pipefail
  
    ).+\Z'
  args:
  - --multiline
  language: pygrep

source-files-keywords:
  name: ensure source files use builtins prefaced with the 'builtin' command
  ...

source-files-testing-folder-function-names:
  name: ensure source files in the testing folder use the correct function names
  entry: ^(?!.*\# noqa\s*$|^\s*#.*$)(?!((assert_|_capture\.)[a-z_]+)|((__)*\$\{1\}|@parametrize)|((?!.+\._[^_].+)((__)*\$\{1\}|_testing|_mock|@parametrize))\.[a-z_.]+).*\(\) {$
  language: pygrep

source-files-testing-folder-global-variable-names:
  name: ensure source files in the testing folder use the correct global variable names for booleans
  entry: ^(?!.*\# noqa\s*$|^\s*#.*$)\s*([A-Z_]+)(?<!_BOOLEAN)=("[01]"|[01])$
  language: pygrep

test-files-binaries:
  name: ensure test files don't directly reference restricted binary commands
  entry: ^(?!.*\# noqa\s*$|^\s*#.*$).*((?<=\s|\()|(?<=^))(cat|cut|grep|head|mktemp|rm|sed|sort|tail|tput|tr)((\s|\)).*$|$)
  language: pygrep

test-files-headers:
  name: ensure test files have correct headers
  entry: '\A(?!#!/bin/bash
  
    ).+\Z'
  args:
  - --multiline
  language: pygrep

test-files-imports:
  name: ensure test files do not use the source keyword for imports
  entry: '\A#!/bin/bash
  
    .+((^ *|^ +|; *|\| *|\& *)(source |\. )(".+?"|\S+) *(;*)$)+.+\Z'
  args:
  - --multiline
  language: pygrep

feat(VAR): add query/assertion to validate vars
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/REFERENCE.md
  src/var/assert/is.sh
  src/var/assert/tests/is/test_stdlib_var_assert_is_valid_with.sh
  src/var/query/is.sh
  src/var/query/tests/is/test_stdlib_var_query_is_valid_with.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(VAR): add query/assertion for set vars
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/REFERENCE.md
  src/var/assert/is.sh
  src/var/assert/tests/is/test_stdlib_var_assert_is_set.sh
  src/var/query/is.sh
  src/var/query/tests/is/test_stdlib_var_query_is_set.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(VAR): add assertion to validate global vars
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/REFERENCE.md
  src/var/__lib__.sh
  src/var/global/__lib__.sh
  src/var/global/assert/__lib__.sh
  src/var/global/assert/is.sh
  src/var/global/assert/tests/is/test_stdlib_var_global_assert_is_valid_with.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(FN): add query/assertion to validate keywords
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/fn/REFERENCE.md
  src/fn/__lib__.sh
  src/fn/keyword/__lib__.sh
  src/fn/keyword/assert/__lib__.sh
  src/fn/keyword/assert/is.sh
  src/fn/keyword/assert/tests/is/test_stdlib_fn_keyword_assert_is_valid_with.sh
  src/fn/keyword/query/__lib__.sh
  src/fn/keyword/query/is.sh
  src/fn/keyword/query/tests/is/test_stdlib_fn_keyword_query_is_valid_with.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(LOGGER): global variable validation
  src/logger/logger.sh
  src/logger/tests/test_stdlib_logger_error.sh
  src/logger/tests/test_stdlib_logger_info.sh
  src/logger/tests/test_stdlib_logger_notice.sh
  src/logger/tests/test_stdlib_logger_success.sh
  src/logger/tests/test_stdlib_logger_warning.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(VAR): global variable validation
  dist/stdlib.sh
  src/REFERENCE_COMPLETE.md
  src/var/REFERENCE.md
  src/var/assert/is.sh
  src/var/assert/tests/is/test_stdlib_var_assert_is_valid_with.sh
  src/var/global/assert/is.sh
  src/var/global/assert/tests/is/test_stdlib_var_global_assert_is_valid_with.sh
  src/var/query/is.sh
  src/var/query/tests/is/test_stdlib_var_query_is_valid_with.sh
  src/var/reserved/assert/is.sh
  src/var/reserved/assert/tests/is/test_stdlib_var_reserved_assert_is_valid_with.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(IO): global variable validation
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/io/REFERENCE.md
  src/io/lock.sh
  src/io/stdin.sh
  src/io/tests/lock/test_stdlib_io_lock_acquire.sh
  src/io/tests/lock/test_stdlib_io_lock_release.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_allocate.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_cleanup.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_is_valid.sh
  src/io/tests/stdin/test_stdlib_io_stdin_prompt.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(SETTING): global variable validation
  dist/stdlib.sh
  src/setting/colour.sh
  src/setting/tests/colour/test_stdlib_setting_colour_enable.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(FN): add validation to stdlib.fn.derive.var
  dist/stdlib.sh
  src/fn/derive/tests/var/test_stdlib_fn_derive_var.sh
  src/fn/derive/var.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(TOOLS): add more exit codes to doc check
  tools/documentation_check.py
  tools/tests/assets/documentation/non_standard_exitcodes.sh
  tools/tests/test_documentation_check.py
Due: test-files-binaries, test-files-headers, test-files-imports

feat(IO): lock file permission controls
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  src/REFERENCE_COMPLETE.md
  src/io/REFERENCE.md
  src/io/lock.sh
  src/io/tests/lock/test_stdlib_io_lock_acquire.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_allocate.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(STRING): sensible colour selection fallback
  dist/stdlib.sh
  src/setting/tests/theme/test_stdlib_setting_theme_get_colour.sh
  src/setting/theme.sh
  src/string/colour/tests/test_stdlib_string_colour_n.sh
  src/string/colour/tests/test_stdlib_string_colour_substring.sh
  src/string/colour/tests/test_stdlib_string_colour_substrings.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(FN): global variable validation
  dist/stdlib.sh
  src/REFERENCE_COMPLETE.md
  src/fn/REFERENCE.md
  src/fn/args.sh
  src/fn/derive/pipeable.sh
  src/fn/tests/args/test_stdlib_fn_args_require.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(BINARIES): lock down all consumed binaries
  .pre-commit-config.yaml
  dist/stdlib.sh
  dist/stdlib_testing.sh
  src/__lib__.sh
  src/binary.sh
  src/message.sh
  src/security/getter.sh
  src/security/path/make.sh
  src/security/path/query/has.sh
  src/security/path/query/tests/has/test_stdlib_security_path_query_has_group.sh
  src/security/path/query/tests/has/test_stdlib_security_path_query_has_owner.sh
  src/security/path/query/tests/has/test_stdlib_security_path_query_has_permissions.sh
  src/security/path/secure.sh
  src/security/path/tests/make/test_stdlib_security_path_make_dir.sh
  src/security/path/tests/make/test_stdlib_security_path_make_file.sh
  src/security/path/tests/secure/test_stdlib_security_path_secure.sh
  src/security/shell/shell.snippet
  src/security/tests/getter/test_stdlib_security_getter_gid.sh
  src/security/tests/getter/test_stdlib_security_getter_uid.sh
  src/security/tests/getter/test_stdlib_security_getter_uid_next_available.sh
  src/testing/fixtures/debug.sh
  src/testing/mock/components/getter.sh
  tools/binary_check.py
  tools/tests/assets/binary_check/mock.sh
  tools/tests/test_binary_check.py
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-binaries, test-files-headers, test-files-imports

feat(TRAPS): global variable validation
  build/package.sh
  dist/stdlib.sh
  src/trap/create.sh
  src/trap/register.snippet
  src/trap/tests/create/test_stdlib_trap_create_cleanup_fn.sh
  src/trap/tests/create/test_stdlib_trap_create_handler.sh
  src/trap/tests/register_snippet/test_stdlib_trap_register_snippet.sh
  src/trap/tests/trap/test_stdlib_trap_register_default_handlers.sh
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

test(HOST): allow test execution without docker
  AGENTS.md
  Dockerfile
  host.sh
Due: none

feat(FN): add derive assertion function
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/fn/REFERENCE.md
  src/fn/derive/__lib__.sh
  src/fn/derive/assertion.sh
  src/fn/derive/tests/assertion/test_stdlib_fn_derive_assertion.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

keep
  src/fn/keyword/assert/is.sh
  src/testing/capture/assertion_failure.sh
  src/testing/error.sh
  src/testing/fixtures/debug.sh
  src/testing/load.sh
  src/testing/mock/arg_string/make.sh
  src/testing/mock/arg_string/tests/arg_string/test_stdlib_testing_mock_arg_string_make_from_string.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_side_effects.sh
  src/testing/parametrize/internal/configuration.sh
  src/testing/parametrize/internal/create.sh
  src/testing/parametrize/internal/validate.sh
  src/testing/parametrize/parametrize.sh
  src/testing/parametrize/tests/apply/test_stdlib_testing_parametrize_apply.sh
  src/testing/parametrize/tests/compose/test_stdlib_testing_parametrize_compose.sh
  src/testing/parametrize/tests/parametrize/test_stdlib_testing_parametrize.sh
  src/testing/protect.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

keep2
  dist/stdlib_testing.sh
  docs/locales/en/LC_MESSAGES/reference_testing.po
  src/fn/keyword/assert/is.sh
  src/testing/REFERENCE.md
  src/testing/REFERENCE_COMPLETE.md
  src/testing/capture/assertion_failure.sh
  src/testing/error.sh
  src/testing/fixtures/debug.sh
  src/testing/load.sh
  src/testing/mock/REFERENCE.md
  src/testing/mock/arg_string/make.sh
  src/testing/mock/arg_string/tests/arg_string/test_stdlib_testing_mock_arg_string_make_from_string.sh
  src/testing/parametrize/REFERENCE.md
  src/testing/parametrize/apply.sh
  src/testing/parametrize/compose.sh
  src/testing/parametrize/internal/create.sh
  src/testing/parametrize/internal/tests/validate/test_stdlib_testing_parametrize_internal_validate_keywords.sh
  src/testing/parametrize/internal/tests/validate/test_stdlib_testing_parametrize_internal_validate_keywords_aggregation.sh
  src/testing/parametrize/internal/tests/validate/test_stdlib_testing_parametrize_internal_validate_reserved_variables.sh
  src/testing/parametrize/internal/validate.sh
  src/testing/parametrize/parametrize.sh
  src/testing/parametrize/tests/apply/test_stdlib_testing_parametrize_apply_api.sh
  src/testing/parametrize/tests/compose/test_stdlib_testing_parametrize_compose_api.sh
  src/testing/parametrize/tests/parametrize/test_stdlib_testing_parametrize_api.sh
  src/testing/protect.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

revision
  src/testing/error.sh
  src/testing/tests/error/test_stdlib_testing_error_pipe.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(SECURITY): protect against builtin overrides
  .pre-commit-config.yaml
  build/build.sh
  dist/stdlib.sh
  src/__lib__.sh
  src/security/shell/shell.snippet
  src/security/shell/tests/shell_snippet/test_stdlib_security_shell_snippet_assert_is_safe.sh
  src/security/shell/tests/shell_snippet/test_stdlib_security_shell_snippet_query_is_safe.sh
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(MOCK): ensure declare usage is protected
  dist/stdlib_testing.sh
  locales/en/LC_MESSAGES/stdlib_testing.po
  locales/stdlib_testing.pot
  src/testing/mock/components/assertion.sh
  src/testing/mock/components/controller.sh
  src/testing/mock/components/getter.sh
  src/testing/mock/components/setter.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_any_call_is.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_call_n_is.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_called_once_with.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_calls_are.sh
  src/testing/mock/components/tests/getter/test_stdlib_testing_mock_object_get_call.sh
  src/testing/mock/components/tests/getter/test_stdlib_testing_mock_object_get_calls.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_side_effect_queue.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_side_effects.sh
  src/testing/mock/internal/security/__lib__.sh
  src/testing/mock/internal/security/assert/__lib__.sh
  src/testing/mock/internal/security/assert/is.sh
  src/testing/mock/internal/security/assert/tests/is/test_stdlib_testing_mock_internal_security_assert_is_builtin.sh
  src/testing/mock/message.sh
  src/testing/mock/tests/message/test_stdlib_testing_mock_message_get.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

refactor(MOCK): simplify compilation
  src/testing/mock/components/assertion.sh
  src/testing/mock/components/call.sh
  src/testing/mock/components/controller.sh
  src/testing/mock/components/defaults.sh
  src/testing/mock/components/getter.sh
  src/testing/mock/components/main.sh
  src/testing/mock/components/setter.sh
  src/testing/mock/internal/compile.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names

feat(BOOTSTRAP): simplify process
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
  build/build.sh
  build/t
  dist/stdlib.sh
  src/__lib__.sh
  src/deferred.sh
  src/tests/deferred/test_stdlib_deferred_defer.sh
  src/tests/deferred/test_stdlib_deferred_execute.sh
  src/tests/deferred/test_stdlib_deferred_initialize.sh
  src/trap/register.snippet
  src/trap/tests/register_snippet/test_stdlib_trap_register_snippet.sh
  src/trap/tests/trap/test_stdlib_trap.sh
  src/trap/tests/trap/test_stdlib_trap_register_default_handlers.sh
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(DECLARE): optimize function parsing
  build/build.sh
  dist/stdlib.sh
  dist/stdlib_testing.sh
  dist/t
  src/fn/query/is.sh
  src/testing/mock/mock.sh
  src/testing/protect.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names

docs(SHDOC): tighten global variable rules
  CONTRIBUTING.md
  src/builtin.sh
  src/fn/args.sh
  src/fn/derive/pipeable.sh
  src/io/stdin.sh
  src/logger/logger.sh
  src/setting/colour.sh
  src/string/lines/join.sh
  src/string/lines/map.sh
  src/string/wrap.sh
  tools/documentation_check.py
  tools/tests/assets/invalid_description.sh
  tools/tests/test_documentation_check.py
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-binaries, test-files-headers, test-files-imports

feat(MOCK): validate keyword names
  dist/stdlib.sh
  dist/stdlib_testing.sh
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/__lib__.sh
  src/message.sh
  src/testing/mock/components/setter.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_keywords.sh
  src/testing/protect.sh
  src/testing/tests/protect/test_stdlib_testing_protected_name.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/__lib__.sh
  src/var/assert/__lib__.sh
  src/var/assert/is.sh
  src/var/assert/tests/is/test_stdlib_var_assert_is_valid_name.sh
  src/var/query/__lib__.sh
  src/var/query/is.sh
  src/var/query/tests/is/test_stdlib_var_query_is_valid_name.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

docs(REFERENCE): enable building of reference
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
  .vale.ini
  .vale/Vocab/stdlib/accept.txt
  Dockerfile
  REFERENCE.md
  build/docs.sh
  dist/stdlib_testing.sh
Due: none

feat(ASSERTIONS): add negative assertion for functions
  src/testing/assertion/fn.sh
  src/testing/assertion/tests/fn/test_stdlib_testing_assert_not_fn.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(FN): add builtin queries and assertions
  dist/stdlib.sh
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/fn/assert/is.sh
  src/fn/assert/not.sh
  src/fn/assert/tests/is/test_stdlib_fn_assert_is_builtin.sh
  src/fn/assert/tests/not/test_fn_assert_not_builtin.sh
  src/fn/query/is.sh
  src/fn/query/tests/is/test_stdlib_fn_query_is_builtin.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(IO): add query/assertion for empty file
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  docs/locales/en/LC_MESSAGES/reference_testing.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/io/REFERENCE.md
  src/io/path/assert/is.sh
  src/io/path/assert/tests/is/test_io_path_assert_is_file_empty.sh
  src/io/path/query/is.sh
  src/io/path/query/tests/is/test_io_path_query_is_file_empty.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

refactor(FN): standardize fn names
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
  dist/stdlib.sh
  src/setting/colour.sh
  src/setting/tests/colour/test_stdlib_setting_colour_enable.sh
  src/setting/tests/colour/test_stdlib_setting_colour_enable_generate_error_message.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

docs(SHDOC): document the mock object api
  .pre-commit-config.yaml
  .vale.ini
  .vale/Vocab/stdlib/accept.txt
  REFERENCE.md
  build/docs.sh
  dist/stdlib_testing.sh
  src/testing/mock/MOCK_OBJECT_REFERENCE.md
  src/testing/mock/components/assertion.sh
  src/testing/mock/components/call.sh
  src/testing/mock/components/controller.sh
  src/testing/mock/components/defaults.sh
  src/testing/mock/components/getter.sh
  src/testing/mock/components/main.sh
  src/testing/mock/components/setter.sh
  tools/documentation_check.py
  tools/tests/assets/invalid_description_mock_component.sh
  tools/tests/assets/valid.sh
  tools/tests/test_documentation_check.py
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-binaries, test-files-headers, test-files-imports

ci(GITHUB): support latest shellcheck
  .github/scripts/job-50-test-precommit.sh
Due: none

feat(FN): stricter variable name validation
  dist/stdlib.sh
  src/fn/derive/tests/var/test_stdlib_fn_derive_var.sh
  src/fn/derive/var.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(IO): concurrency control
  dist/stdlib.sh
  dist/t
  docs/locales/en/LC_MESSAGES/reference.po
  docs/locales/en/LC_MESSAGES/reference_testing.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/binary.sh
  src/io/REFERENCE.md
  src/io/__lib__.sh
  src/io/lock.sh
  src/io/tests/lock/test_stdlib_io_lock_acquire.sh
  src/io/tests/lock/test_stdlib_io_lock_integration.sh
  src/io/tests/lock/test_stdlib_io_lock_release.sh
  src/io/tests/lock/test_stdlib_io_lock_with.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_allocate.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_cleanup.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

docs(SPHINX): translatable documentation
  .cicd-tools/configuration/pre-commit-bootstrap.yaml
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yml
  .vale/Vocab/stdlib/accept.txt
  README.md
  docs/Makefile
  docs/conf.py
  docs/conf/__init__.py
  docs/conf/general.py
  docs/conf/html.py
  docs/conf/markdown.py
  docs/conf/myst.py
  docs/conf/symlinks.py
  docs/embeds/container_script.md
  docs/embeds/customized_t_script.md
  docs/embeds/distribution_t_script.md
  docs/index.md
  docs/integration_guide.md
  docs/locales/en/LC_MESSAGES/embeds.po
  docs/locales/en/LC_MESSAGES/index.po
  docs/locales/en/LC_MESSAGES/integration_guide.po
  docs/locales/en/LC_MESSAGES/reference.po
  docs/locales/en/LC_MESSAGES/reference_testing.po
  docs/make.bat
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  documentation-build: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  documentation-source-files: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh|src/testing/.+\.sh)$
  snippet-files-headers: any of: ^src/.+\.snippet$
  source-files-binaries: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-headers: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-keywords: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-testing-folder-function-names: any of: ^src/testing/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-testing-folder-global-variable-names: any of: ^src/testing/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  test-files-binaries: any of: ^((.+/)*tests/.+\.sh)$, but not: ^.*/test_.+\.sh$
  test-files-headers: any of: ^((.+/)*tests/.+\.sh)$
  test-files-imports: any of: ^((.+/)*tests/.+\.sh)$
