Repository niall-byrne/stdlib: changes, and which pre-commit hooks are due for each by the changed paths.
All: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-binaries, test-files-headers, test-files-imports

Path conditions:
  documentation-build: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  documentation-source-files: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh|src/testing/.+\.sh)$
  snippet-files-headers: any of: ^src/.+\.snippet$
  source-files-binaries: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-headers: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-keywords: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-testing-folder-function-names: any of: ^src/testing/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-testing-folder-global-variable-names: any of: ^src/testing/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  test-files-binaries: any of: ^((.+/)*tests/.+\.sh)$, but not: ^.*/test_.+\.sh$
  test-files-headers: any of: ^((.+/)*tests/.+\.sh)$
  test-files-imports: any of: ^((.+/)*tests/.+\.sh)$

feat(ARRAY): stricter array name validation
  dist/stdlib.sh
  src/array/assert/tests/not/test_array_assert_not_array.sh
  src/array/query/is.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(STRING): functions to validate decimals
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/string/REFERENCE.md
  src/string/assert/is.sh
  src/string/assert/tests/is/test_stdlib_string_assert_is_decimal.sh
  src/string/assert/tests/is/test_stdlib_string_assert_is_decimal_positive.sh
  src/string/query/is.sh
  src/string/query/tests/is/test_stdlib_string_query_is_decimal.sh
  src/string/query/tests/is/test_stdlib_string_query_is_decimal_positive.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(IO): add query/assertion for empty file
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  docs/locales/en/LC_MESSAGES/reference_testing.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/io/REFERENCE.md
  src/io/path/assert/is.sh
  src/io/path/assert/tests/is/test_io_path_assert_is_file_empty.sh
  src/io/path/query/is.sh
  src/io/path/query/tests/is/test_io_path_query_is_file_empty.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(STRING): functions to validate ip addresses
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/string/REFERENCE.md
  src/string/assert/__lib__.sh
  src/string/assert/net/__lib__.sh
  src/string/assert/net/is.sh
  src/string/assert/net/tests/is/test_stdlib_string_assert_net_is_ipv4.sh
  src/string/assert/net/tests/is/test_stdlib_string_assert_net_is_ipv6.sh
  src/string/query/__lib__.sh
  src/string/query/net/__lib__.sh
  src/string/query/net/is.sh
  src/string/query/net/tests/is/test_stdlib_string_query_net_is_ipv4.sh
  src/string/query/net/tests/is/test_stdlib_string_query_net_is_ipv6.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

ci(GITHUB): support latest shellcheck
  .github/scripts/job-50-test-precommit.sh
Due: none

ci(GITHUB): simplify pre-commit execution
  .github/workflows/workflow-push.yml
Due: none

docs(SHDOC): split stdlib references up and index
  .pre-commit-config.yaml
  .vale/Vocab/stdlib/accept.txt
  REFERENCE.md
  REFERENCE_TESTING.md
  build/docs.sh
  src/REFERENCE_COMPLETE.md
  src/array/REFERENCE.md
  src/fn/REFERENCE.md
  src/io/REFERENCE.md
  src/logger/REFERENCE.md
  src/security/REFERENCE.md
  src/setting/REFERENCE.md
  src/string/REFERENCE.md
  src/testing/REFERENCE_COMPLETE.md
  src/trap/REFERENCE.md
  src/var/REFERENCE.md
Due: none

feat(FN): stricter variable name validation
  dist/stdlib.sh
  src/fn/derive/tests/var/test_stdlib_fn_derive_var.sh
  src/fn/derive/var.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

refactor(FN): standardize fn names
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
  dist/stdlib.sh
  src/setting/colour.sh
  src/setting/tests/colour/test_stdlib_setting_colour_enable.sh
  src/setting/tests/colour/test_stdlib_setting_colour_enable_generate_error_message.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

docs(SHDOC): document the mock object api
  .pre-commit-config.yaml
  .vale.ini
  .vale/Vocab/stdlib/accept.txt
  REFERENCE.md
  build/docs.sh
  dist/stdlib_testing.sh
  src/testing/mock/MOCK_OBJECT_REFERENCE.md
  src/testing/mock/components/assertion.sh
  src/testing/mock/components/call.sh
  src/testing/mock/components/controller.sh
  src/testing/mock/components/defaults.sh
  src/testing/mock/components/getter.sh
  src/testing/mock/components/main.sh
  src/testing/mock/components/setter.sh
  tools/documentation_check.py
  tools/tests/assets/invalid_description_mock_component.sh
  tools/tests/assets/valid.sh
  tools/tests/test_documentation_check.py
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-binaries, test-files-headers, test-files-imports

refactor(TRAP): rename cleanup function
  .vale/Vocab/stdlib/accept.txt
  REFERENCE.md
  dist/stdlib.sh
  src/trap/create.sh
  src/trap/tests/create/test_stdlib_trap_create_cleanup_fn.sh
  src/trap/tests/trap/test_stdlib_trap_register_default_handlers.sh
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

docs(SPHINX): translatable documentation
  .cicd-tools/configuration/pre-commit-bootstrap.yaml
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yml
  .vale/Vocab/stdlib/accept.txt
  README.md
  docs/Makefile
  docs/conf.py
  docs/conf/__init__.py
  docs/conf/general.py
  docs/conf/html.py
  docs/conf/markdown.py
  docs/conf/myst.py
  docs/conf/symlinks.py
  docs/embeds/container_script.md
  docs/embeds/customized_t_script.md
  docs/embeds/distribution_t_script.md
  docs/index.md
  docs/integration_guide.md
  docs/locales/en/LC_MESSAGES/embeds.po
  docs/locales/en/LC_MESSAGES/index.po
  docs/locales/en/LC_MESSAGES/integration_guide.po
  docs/locales/en/LC_MESSAGES/reference.po
  docs/locales/en/LC_MESSAGES/reference_testing.po
  docs/make.bat
  poetry.lock
  pyproject.toml
Due: none

test(COVERAGE): collect from testing folder
  dist/collect_coverage
  dist/stdlib_testing.sh
  docs/locales/en/LC_MESSAGES/reference_testing.po
  src/testing/assertion/array.sh
  src/testing/mock/REFERENCE_MOCK_OBJECT.md
  src/testing/mock/arg_string/make.sh
  src/testing/mock/attributes.sh
  src/testing/mock/components/setter.sh
  src/testing/mock/internal/compile.sh
  src/testing/parametrize/apply.sh
  src/testing/parametrize/internal/configuration.sh
  src/testing/parametrize/internal/create.sh
  src/testing/parametrize/internal/validate.sh
  src/testing/parametrize/parametrize.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names

feat(TESTING): concurrent mock sequence tracking
  dist/stdlib_testing.sh
  src/testing/mock/components/call.sh
  src/testing/mock/components/tests/call/test_stdlib_testing_mock_object_call_locking.sh
  src/testing/mock/internal/persistence/sequence.sh
  src/testing/mock/tests/mock/test_stdlib_testing_mock_call_concurrency.sh
  src/testing/mock/tests/sequence/test_stdlib_testing_mock_sequence_record_concurrency.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(IO): concurrency control
  dist/stdlib.sh
  dist/t
  docs/locales/en/LC_MESSAGES/reference.po
  docs/locales/en/LC_MESSAGES/reference_testing.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/binary.sh
  src/io/REFERENCE.md
  src/io/__lib__.sh
  src/io/lock.sh
  src/io/tests/lock/test_stdlib_io_lock_acquire.sh
  src/io/tests/lock/test_stdlib_io_lock_integration.sh
  src/io/tests/lock/test_stdlib_io_lock_release.sh
  src/io/tests/lock/test_stdlib_io_lock_with.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_allocate.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_cleanup.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(VAR): add query/assertion for set vars
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/REFERENCE.md
  src/var/assert/is.sh
  src/var/assert/tests/is/test_stdlib_var_assert_is_set.sh
  src/var/query/is.sh
  src/var/query/tests/is/test_stdlib_var_query_is_set.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(VAR): add query/assertion to validate vars
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/REFERENCE.md
  src/var/assert/is.sh
  src/var/assert/tests/is/test_stdlib_var_assert_is_valid_with.sh
  src/var/query/is.sh
  src/var/query/tests/is/test_stdlib_var_query_is_valid_with.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(VAR): add assertion to validate reserved vars
  dist/stdlib.sh
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/assert/reserved/__lib__.sh
  src/var/assert/reserved/is.sh
  src/var/assert/reserved/tests/is/test_stdlib_var_assert_reserved_is_valid_with.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(IO): global variable validation
  dist/stdlib.sh
  src/io/lock.sh
  src/io/stdin.sh
  src/io/tests/lock/test_stdlib_io_lock_acquire.sh
  src/io/tests/lock/test_stdlib_io_lock_release.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_allocate.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_cleanup.sh
  src/io/tests/stdin/test_stdlib_io_stdin_prompt.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(FN): global variable validation
  dist/stdlib.sh
  src/fn/args.sh
  src/fn/derive/pipeable.sh
  src/fn/tests/args/test_stdlib_fn_args_require.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(BINARIES): lock down all consumed binaries
  .pre-commit-config.yaml
  dist/stdlib.sh
  dist/stdlib_testing.sh
  src/__lib__.sh
  src/binary.sh
  src/message.sh
  src/security/getter.sh
  src/security/path/make.sh
  src/security/path/query/has.sh
  src/security/path/query/tests/has/test_stdlib_security_path_query_has_group.sh
  src/security/path/query/tests/has/test_stdlib_security_path_query_has_owner.sh
  src/security/path/query/tests/has/test_stdlib_security_path_query_has_permissions.sh
  src/security/path/secure.sh
  src/security/path/tests/make/test_stdlib_security_path_make_dir.sh
  src/security/path/tests/make/test_stdlib_security_path_make_file.sh
  src/security/path/tests/secure/test_stdlib_security_path_secure.sh
  src/security/shell/shell.snippet
  src/security/tests/getter/test_stdlib_security_getter_gid.sh
  src/security/tests/getter/test_stdlib_security_getter_uid.sh
  src/security/tests/getter/test_stdlib_security_getter_uid_next_available.sh
  src/testing/fixtures/debug.sh
  src/testing/mock/components/getter.sh
  tools/binary_check.py
  tools/tests/assets/binary_check/mock.sh
  tools/tests/test_binary_check.py
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-binaries, test-files-headers, test-files-imports

feat(LOGGER): global variable validation
  src/logger/logger.sh
  src/logger/tests/test_stdlib_logger_error.sh
  src/logger/tests/test_stdlib_logger_info.sh
  src/logger/tests/test_stdlib_logger_notice.sh
  src/logger/tests/test_stdlib_logger_success.sh
  src/logger/tests/test_stdlib_logger_warning.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(SETTING): global variable validation
  dist/stdlib.sh
  src/setting/colour.sh
  src/setting/tests/colour/test_stdlib_setting_colour_enable.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(FN): add validation to stdlib.fn.derive.var
  dist/stdlib.sh
  src/fn/derive/tests/var/test_stdlib_fn_derive_var.sh
  src/fn/derive/var.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(STRING): sensible colour selection fallback
  dist/stdlib.sh
  src/setting/tests/theme/test_stdlib_setting_theme_get_colour.sh
  src/setting/theme.sh
  src/string/colour/tests/test_stdlib_string_colour_n.sh
  src/string/colour/tests/test_stdlib_string_colour_substring.sh
  src/string/colour/tests/test_stdlib_string_colour_substrings.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

tentative allow manual validation
  tools/documentation_check.py
  tools/tests/assets/documentation/global_var_validation.sh
  tools/tests/test_documentation_check.py
Due: test-files-binaries, test-files-headers, test-files-imports

test(HOST): allow test execution without docker
  AGENTS.md
  Dockerfile
  host.sh
Due: none

feat(IO): lock file permission controls
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  src/REFERENCE_COMPLETE.md
  src/io/REFERENCE.md
  src/io/lock.sh
  src/io/tests/lock/test_stdlib_io_lock_acquire.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_allocate.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(TRAPS): global variable validation
  build/package.sh
  dist/stdlib.sh
  src/trap/create.sh
  src/trap/register.snippet
  src/trap/tests/create/test_stdlib_trap_create_cleanup_fn.sh
  src/trap/tests/create/test_stdlib_trap_create_handler.sh
  src/trap/tests/register_snippet/test_stdlib_trap_register_snippet.sh
  src/trap/tests/trap/test_stdlib_trap_register_default_handlers.sh
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(TRAPS): global variable validation
  src/var/assert/is.sh
  src/var/assert/reserved/is.sh
  src/var/query/is.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords

ci(GITHUB): release workflow
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
Due: none

ci(GITHUB): integrate cicd-tools
  .cicd-tools/configuration/actionlint.yaml
  .cicd-tools/configuration/changelog.json
  .cicd-tools/configuration/pre-commit-bootstrap.yaml
  .github/actions/action-00-toolbox/action.yml
  .github/config/actions/github-action-markdown-link-check.json
  .github/config/schemas/workflows/workflow-push.json
  .github/config/workflows/workflow-push.json
  .github/scripts/job-50-test-precommit.sh
  .github/scripts/step-setup-environment.sh
  .github/workflows/workflow-push.yml
  .gitignore
  .markdownlint.yml
  .pre-commit-config.yaml
  .vale.ini
  .vale/Vocab/stdlib/accept.txt
  .vale/Vocab/stdlib/reject.txt
  .yamllint.yml
  poetry.lock
  pyproject.toml
Due: none

build(PACKAGING): modify codebase
  src/logger/tests/test_stdlib_logger_traceback.sh
  src/setting/__lib__.sh
  src/setting/colour.sh
  src/setting/state/__lib__.sh
  src/setting/state/colour_disabled.sh
  src/setting/state/colour_enabled.sh
  src/setting/state/colour_theme.sh
  src/setting/state/disabled.sh
  src/setting/state/enabled.sh
  src/setting/state/theme.sh
  src/setting/theme.sh
  src/string/colour/tests/test_stdlib_string_colour_n.sh
  src/testing/__lib__.sh
  src/testing/mock/mock.sh
  src/testing/mock/mock.snippet
  src/testing/mock/tests/mock_snippet/test_stdlib_testing_mock_snippet.sh
  src/trap/register.snippet
  src/trap/tests/register_snippet/test_stdlib_trap_register_snippet.sh
  src/trap/tests/trap/test_stdlib_trap.sh
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

build(PACKAGING): create first distribution
  dist/stdlib.sh
  dist/stdlib_testing.sh
Due: none

docs(CONTRIBUTING): add contribution guide
  .vale/Vocab/stdlib/accept.txt
  CONTRIBUTING.md
Due: none

docs(AGENTS): add markdown file for jules
  .vale/Vocab/stdlib/accept.txt
  AGENTS.md
Due: none

feat(GETTEXT): support translations
  .github/workflows/workflow-push.yml
  .gitignore
  .pre-commit-config.yaml
  build/build.sh
  build/package.sh
  dist/locales/en/LC_MESSAGES/stdlib.mo
  dist/locales/en/LC_MESSAGES/stdlib_testing.mo
  dist/stdlib.sh
  dist/stdlib_testing.sh
  locales/en/LC_MESSAGES/stdlib.po
  locales/en/LC_MESSAGES/stdlib_testing.po
  locales/stdlib.pot
  locales/stdlib_testing.pot
  src/__lib__.sh
  src/gettext.sh
  src/gettext.snippet
  src/message.sh
  src/testing/__lib__.sh
  src/testing/assertion/message.sh
  src/testing/gettext.sh
  src/testing/message.sh
  src/testing/mock/message.sh
  src/testing/parametrize/message.sh
  src/testing/tests/gettext/test_stdlib_testing_gettext.sh
  src/tests/gettext/test_stdlib_gettext.sh
  src/tests/gettext/test_stdlib_gettext_call.sh
  src/tests/gettext/test_stdlib_gettext_fallback.sh
  src/tests/gettext_snippet/test_stdlib_gettext_snippet.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports
