Repository niall-byrne/stdlib: changes, and which pre-commit hooks are due for each by the changed paths.
All: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-binaries, test-files-headers, test-files-imports

documentation-build:
  name: build documentation using shdoc
  entry: bash -c "TEST_CONTAINER_DISABLE_TTY=1 ./container.sh run build/docs.sh REFERENCE.md"
  language: system
  pass_filenames: false
  require_serial: true

documentation-source-files:
  name: ensure source functions are correctly documented
  entry: python tools/documentation_check.py
  language: system
  pass_filenames: true
  require_serial: true

snippet-files-headers:
  name: ensure snippet files have correct headers
  entry: '\A(?!#!/bin/bash
  
    ).+\Z'
  args:
  - --multiline
  language: pygrep

source-files-binaries:
  name: ensure source files don't directly reference restricted binary commands
  entry: ^(?!.*\# noqa\s*$|^\s*#.*$).*((?<=\s|\()|(?<=^))(cat|cut|grep|head|mktemp|rm|sed|sort|tail|tput|tr)((\s|\)).*$|$)
  language: pygrep

source-files-headers:
  name: ensure source files have correct headers
  entry: '\A(?!#!/bin/bash
  
    (# shellcheck disable=.+
  
    ){0,1}
  
    # stdlib.+
  
    builtin set -eo pipefail
  
    ).+\Z'
  args:
  - --multiline
  language: pygrep

source-files-keywords:
  name: ensure source files use builtins prefaced with the 'builtin' command
  ...

source-files-testing-folder-function-names:
  name: ensure source files in the testing folder use the correct function names
  entry: ^(?!.*\# noqa\s*$|^\s*#.*$)(?!((assert_|_capture\.)[a-z_]+)|((__)*\$\{1\}|@parametrize)|((?!.+\._[^_].+)((__)*\$\{1\}|_testing|_mock|@parametrize))\.[a-z_.]+).*\(\) {$
  language: pygrep

source-files-testing-folder-global-variable-names:
  name: ensure source files in the testing folder use the correct global variable names for booleans
  entry: ^(?!.*\# noqa\s*$|^\s*#.*$)\s*([A-Z_]+)(?<!_BOOLEAN)=("[01]"|[01])$
  language: pygrep

test-files-binaries:
  name: ensure test files don't directly reference restricted binary commands
  entry: ^(?!.*\# noqa\s*$|^\s*#.*$).*((?<=\s|\()|(?<=^))(cat|cut|grep|head|mktemp|rm|sed|sort|tail|tput|tr)((\s|\)).*$|$)
  language: pygrep

test-files-headers:
  name: ensure test files have correct headers
  entry: '\A(?!#!/bin/bash
  
    ).+\Z'
  args:
  - --multiline
  language: pygrep

test-files-imports:
  name: ensure test files do not use the source keyword for imports
  entry: '\A#!/bin/bash
  
    .+((^ *|^ +|; *|\| *|\& *)(source |\. )(".+?"|\S+) *(;*)$)+.+\Z'
  args:
  - --multiline
  language: pygrep

feat(SETTING): modifier variable validation
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  src/REFERENCE_COMPLETE.md
  src/setting/REFERENCE.md
  src/setting/colour.sh
  src/setting/state/disabled.sh
  src/setting/state/enabled.sh
  src/setting/state/theme.sh
  src/setting/tests/colour/test_stdlib_setting_colour_enable.sh
  src/setting/theme.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(LOGGER): modifier variable validation
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  src/REFERENCE_COMPLETE.md
  src/logger/REFERENCE.md
  src/logger/logger.sh
  src/logger/tests/test_stdlib_logger_error.sh
  src/logger/tests/test_stdlib_logger_info.sh
  src/logger/tests/test_stdlib_logger_notice.sh
  src/logger/tests/test_stdlib_logger_success.sh
  src/logger/tests/test_stdlib_logger_warning.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(FN): modifier variable validation
  dist/stdlib.sh
  dist/stdlib_testing.sh
  docs/locales/en/LC_MESSAGES/reference.po
  src/REFERENCE_COMPLETE.md
  src/fn/REFERENCE.md
  src/fn/args.sh
  src/fn/derive/pipeable.sh
  src/fn/keyword/assert/is.sh
  src/fn/keyword/query/is.sh
  src/fn/tests/args/test_stdlib_fn_args_require.sh
  src/testing/mock/components/assertion.sh
  src/testing/mock/components/getter.sh
  src/testing/mock/components/setter.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_any_call_is.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_call_n_is.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_called_once_with.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_count_is.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_not_called.sh
  src/testing/mock/components/tests/getter/test_stdlib_testing_mock_object_get_call.sh
  src/testing/mock/components/tests/getter/test_stdlib_testing_mock_object_get_calls.sh
  src/testing/mock/components/tests/getter/test_stdlib_testing_mock_object_get_count.sh
  src/testing/mock/components/tests/getter/test_stdlib_testing_mock_object_get_keywords.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_keywords.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_pipeable.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_rc.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_stderr.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_stdout.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(IO): global variable validation
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/io/REFERENCE.md
  src/io/lock.sh
  src/io/stdin.sh
  src/io/tests/lock/test_stdlib_io_lock_acquire.sh
  src/io/tests/lock/test_stdlib_io_lock_release.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_allocate.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_cleanup.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_is_valid.sh
  src/io/tests/stdin/test_stdlib_io_stdin_prompt.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

test(HOST): allow test execution without docker
  AGENTS.md
  Dockerfile
  host.sh
Due: none

feat(STRING): sensible colour selection fallback
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  src/REFERENCE_COMPLETE.md
  src/setting/REFERENCE.md
  src/setting/tests/theme/test_stdlib_setting_theme_get_colour.sh
  src/setting/theme.sh
  src/string/colour/tests/test_stdlib_string_colour_n.sh
  src/string/colour/tests/test_stdlib_string_colour_substring.sh
  src/string/colour/tests/test_stdlib_string_colour_substrings.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(IO): lock file permission controls
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  src/REFERENCE_COMPLETE.md
  src/io/REFERENCE.md
  src/io/lock.sh
  src/io/tests/lock/test_stdlib_io_lock_acquire.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_allocate.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(BINARIES): lock down all consumed binaries
  .pre-commit-config.yaml
  dist/stdlib.sh
  dist/stdlib_testing.sh
  src/__lib__.sh
  src/binary.sh
  src/message.sh
  src/security/getter.sh
  src/security/path/make.sh
  src/security/path/query/has.sh
  src/security/path/query/tests/has/test_stdlib_security_path_query_has_group.sh
  src/security/path/query/tests/has/test_stdlib_security_path_query_has_owner.sh
  src/security/path/query/tests/has/test_stdlib_security_path_query_has_permissions.sh
  src/security/path/secure.sh
  src/security/path/tests/make/test_stdlib_security_path_make_dir.sh
  src/security/path/tests/make/test_stdlib_security_path_make_file.sh
  src/security/path/tests/secure/test_stdlib_security_path_secure.sh
  src/security/shell/shell.snippet
  src/security/tests/getter/test_stdlib_security_getter_gid.sh
  src/security/tests/getter/test_stdlib_security_getter_uid.sh
  src/security/tests/getter/test_stdlib_security_getter_uid_next_available.sh
  src/testing/fixtures/debug.sh
  src/testing/mock/components/getter.sh
  tools/binary_check.py
  tools/tests/assets/binary_check/mock.sh
  tools/tests/test_binary_check.py
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-binaries, test-files-headers, test-files-imports

feat(VAR): modifier variable validation
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  src/REFERENCE_COMPLETE.md
  src/var/REFERENCE.md
  src/var/assert/is.sh
  src/var/assert/tests/is/test_stdlib_var_assert_is_valid_with.sh
  src/var/global/assert/is.sh
  src/var/global/assert/tests/is/test_stdlib_var_global_assert_is_valid_with.sh
  src/var/query/is.sh
  src/var/query/tests/is/test_stdlib_var_query_is_valid_with.sh
  src/var/reserved/assert/is.sh
  src/var/reserved/assert/tests/is/test_stdlib_var_reserved_assert_is_valid_with.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(STRING): modifier variable validation
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  src/REFERENCE_COMPLETE.md
  src/string/REFERENCE.md
  src/string/colour/colour.sh
  src/string/colour/substring.sh
  src/string/lines/__lib__.sh
  src/string/lines/join.sh
  src/string/lines/map.sh
  src/string/lines/tests/join/test_stdlib_string_lines_join.sh
  src/string/lines/tests/map/test_stdlib_string_lines_map_fn.sh
  src/string/lines/tests/map/test_stdlib_string_lines_map_format.sh
  src/string/tests/wrap/test_stdlib_string_wrap.sh
  src/string/wrap.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

docs(TRAP): correct argument definitions
  docs/locales/en/LC_MESSAGES/reference.po
  src/REFERENCE_COMPLETE.md
  src/trap/REFERENCE.md
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords

feat(TRAP): modifier variable validation
  build/package.sh
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  src/REFERENCE_COMPLETE.md
  src/trap/REFERENCE.md
  src/trap/create.sh
  src/trap/register.snippet
  src/trap/tests/create/test_stdlib_trap_create_cleanup_fn.sh
  src/trap/tests/create/test_stdlib_trap_create_handler.sh
  src/trap/tests/register_snippet/test_stdlib_trap_register_snippet.sh
  src/trap/tests/trap/test_stdlib_trap_register_default_handlers.sh
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(TESTING): parametrizer modifier variable validation
  dist/stdlib_testing.sh
  docs/locales/en/LC_MESSAGES/reference_testing.po
  src/testing/REFERENCE_COMPLETE.md
  src/testing/parametrize/REFERENCE.md
  src/testing/parametrize/apply.sh
  src/testing/parametrize/compose.sh
  src/testing/parametrize/internal/__lib__.sh
  src/testing/parametrize/internal/configuration.sh
  src/testing/parametrize/internal/create.sh
  src/testing/parametrize/internal/default.sh
  src/testing/parametrize/internal/tests/configuration/test_stdlib_testing_parametrize_internal_configuration_parse.sh
  src/testing/parametrize/internal/tests/create/test_stdlib_testing_parametrize_internal_create_array_fn_variant_names.sh
  src/testing/parametrize/internal/tests/create/test_stdlib_testing_parametrize_internal_create_fn_test_variant.sh
  src/testing/parametrize/internal/tests/create/test_stdlib_testing_parametrize_internal_create_string_padded_variant_name.sh
  src/testing/parametrize/internal/tests/validate/test_stdlib_testing_parametrize_internal_validate_fn_name_parametrizer_fn.sh
  src/testing/parametrize/internal/tests/validate/test_stdlib_testing_parametrize_internal_validate_fn_name_test.sh
  src/testing/parametrize/internal/tests/validate/test_stdlib_testing_parametrize_internal_validate_keywords.sh
  src/testing/parametrize/internal/tests/validate/test_stdlib_testing_parametrize_internal_validate_keywords_aggregation.sh
  src/testing/parametrize/internal/tests/validate/test_stdlib_testing_parametrize_internal_validate_reserved_variables.sh
  src/testing/parametrize/internal/tests/validate/test_stdlib_testing_parametrize_internal_validate_scenario.sh
  src/testing/parametrize/internal/validate.sh
  src/testing/parametrize/message.sh
  src/testing/parametrize/parametrize.sh
  src/testing/parametrize/tests/__fixtures__/parametrizers.sh
  src/testing/parametrize/tests/apply/test_stdlib_testing_parametrize_apply.sh
  src/testing/parametrize/tests/apply/test_stdlib_testing_parametrize_apply_api.sh
  src/testing/parametrize/tests/compose/test_stdlib_testing_parametrize_compose.sh
  src/testing/parametrize/tests/compose/test_stdlib_testing_parametrize_compose_api.sh
  src/testing/parametrize/tests/message/test_stdlib_testing_parametrize_message_get.sh
  src/testing/parametrize/tests/parametrize/test_stdlib_testing_parametrize.sh
  src/testing/parametrize/tests/parametrize/test_stdlib_testing_parametrize_api.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-binaries, test-files-headers, test-files-imports

feat(TESTING): modifier variable validation
  dist/stdlib_testing.sh
  docs/locales/en/LC_MESSAGES/reference_testing.po
  src/testing/REFERENCE.md
  src/testing/REFERENCE_COMPLETE.md
  src/testing/assertion/REFERENCE.md
  src/testing/assertion/logger.sh
  src/testing/capture/REFERENCE.md
  src/testing/capture/assertion_failure.sh
  src/testing/fixtures/REFERENCE.md
  src/testing/fixtures/debug.sh
  src/testing/load.sh
  src/testing/protect.sh
  src/testing/tests/load/test_stdlib_testing_load.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(ARRAY): add make copy function
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  src/REFERENCE_COMPLETE.md
  src/array/REFERENCE.md
  src/array/make.sh
  src/array/tests/make/test_stdlib_array_make_from_array.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

ci(GITHUB): codecov key migration
  .github/scripts/job-81-coverage-upload.sh
  .vale/Vocab/stdlib/accept.txt
Due: none

feat(TESTING): mock modifier variable validation
  dist/stdlib_testing.sh
  docs/locales/en/LC_MESSAGES/reference_testing.po
  src/testing/REFERENCE_COMPLETE.md
  src/testing/mock/REFERENCE.md
  src/testing/mock/REFERENCE_MOCK_OBJECT.md
  src/testing/mock/arg_string/make.sh
  src/testing/mock/arg_string/tests/arg_string/test_stdlib_testing_mock_arg_string_make_from_string.sh
  src/testing/mock/components/assertion.sh
  src/testing/mock/components/call.sh
  src/testing/mock/components/controller.sh
  src/testing/mock/components/getter.sh
  src/testing/mock/components/main.sh
  src/testing/mock/components/setter.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_any_call_is.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_call_n_is.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_called_once_with.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_calls_are.sh
  src/testing/mock/components/tests/getter/test_stdlib_testing_mock_object_get_call.sh
  src/testing/mock/components/tests/getter/test_stdlib_testing_mock_object_get_calls.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_side_effects.sh
  src/testing/mock/internal/compile.sh
  src/testing/mock/internal/persistence/registry.sh
  src/testing/mock/internal/persistence/sequence.sh
  src/testing/mock/internal/persistence/tests/registry/test_stdlib_testing_mock_internal_persistence_registry_add_mock.sh
  src/testing/mock/internal/persistence/tests/registry/test_stdlib_testing_mock_internal_persistence_registry_apply_to_all.sh
  src/testing/mock/internal/persistence/tests/registry/test_stdlib_testing_mock_internal_persistence_registry_cleanup.sh
  src/testing/mock/internal/persistence/tests/registry/test_stdlib_testing_mock_internal_persistence_registry_create.sh
  src/testing/mock/internal/persistence/tests/sequence/test_stdlib_testing_mock_internal_persistence_sequence_initialize.sh
  src/testing/mock/internal/security/assert/is.sh
  src/testing/mock/internal/security/assert/tests/is/test_stdlib_testing_mock_internal_security_assert_is_builtin.sh
  src/testing/mock/mock.sh
  src/testing/mock/sequence.sh
  src/testing/mock/tests/mock/test_stdlib_testing_mock_create.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(ARRAY): deprecate buffer variable
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  src/REFERENCE_COMPLETE.md
  src/array/REFERENCE.md
  src/array/getter.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords

feat(SRC): top level modifier variable validation
  src/builtin.sh
  src/deferred.sh
  src/gettext.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords

refactor(TESTING): deprecate error function
  dist/stdlib_testing.sh
  docs/locales/en/LC_MESSAGES/reference_testing.po
  src/testing/REFERENCE.md
  src/testing/REFERENCE_COMPLETE.md
  src/testing/__lib__.sh
  src/testing/error.sh
  src/testing/tests/error/test_stdlib_testing_error.sh
  src/testing/theme.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(TESTING): support multi-char delimiters
  dist/stdlib_testing.sh
  docs/locales/en/LC_MESSAGES/reference_testing.po
  src/testing/REFERENCE_COMPLETE.md
  src/testing/mock/REFERENCE.md
  src/testing/mock/arg_string/make.sh
  src/testing/mock/arg_string/tests/arg_string/test_stdlib_testing_mock_arg_string_make_from_string.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(STRING): deprecate lines in favour of split
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  src/REFERENCE_COMPLETE.md
  src/string/REFERENCE.md
  src/string/__lib__.sh
  src/string/lines/__lib__.sh
  src/string/lines/join.sh
  src/string/lines/map.sh
  src/string/lines/tests/join/test_stdlib_string_lines_join.sh
  src/string/lines/tests/join/test_stdlib_string_lines_join_pipe.sh
  src/string/lines/tests/join/test_stdlib_string_lines_join_var.sh
  src/string/lines/tests/map/test_stdlib_string_lines_map_fn.sh
  src/string/lines/tests/map/test_stdlib_string_lines_map_fn_pipe.sh
  src/string/lines/tests/map/test_stdlib_string_lines_map_fn_var.sh
  src/string/lines/tests/map/test_stdlib_string_lines_map_format.sh
  src/string/lines/tests/map/test_stdlib_string_lines_map_format_pipe.sh
  src/string/lines/tests/map/test_stdlib_string_lines_map_format_var.sh
  src/string/split/__lib__.sh
  src/string/split/map.sh
  src/string/split/tests/map/__fixtures__/map_fn.sh
  src/string/split/tests/map/test_stdlib_string_lines_map_fn.sh
  src/string/split/tests/map/test_stdlib_string_lines_map_fn_pipe.sh
  src/string/split/tests/map/test_stdlib_string_lines_map_fn_var.sh
  src/string/split/tests/map/test_stdlib_string_lines_map_format.sh
  src/string/split/tests/map/test_stdlib_string_lines_map_format_pipe.sh
  src/string/split/tests/map/test_stdlib_string_lines_map_format_var.sh
  src/testing/mock/arg_string/make.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-binaries, test-files-headers, test-files-imports

feat(STRING): standardize equality query/assertion
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/string/REFERENCE.md
  src/string/assert/is.sh
  src/string/assert/not.sh
  src/string/assert/tests/is/test_stdlib_string_assert_is_equal.sh
  src/string/query/is.sh
  src/string/query/not.sh
  src/string/query/tests/is/test_stdlib_string_query_is_equal.sh
  src/string/query/tests/not/test_stdlib_string_query_not_equal.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_call_n_is.sh
  src/testing/mock/components/tests/getter/test_stdlib_testing_mock_object_get_call.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(ARRAY): support multi-char delimiters
  dist/stdlib.sh
  src/REFERENCE_COMPLETE.md
  src/array/REFERENCE.md
  src/array/make.sh
  src/array/tests/make/test_stdlib_array_make_from_file.sh
  src/array/tests/make/test_stdlib_array_make_from_string.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(FN): support inf optional args in stdlib.fn.args.require
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  src/REFERENCE_COMPLETE.md
  src/fn/REFERENCE.md
  src/fn/args.sh
  src/fn/derive/var.sh
  src/fn/tests/args/test_stdlib_fn_args_require.sh
  src/io/lock.sh
  src/string/args/join.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

Path conditions:
  documentation-build: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  documentation-source-files: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh|src/testing/.+\.sh)$
  snippet-files-headers: any of: ^src/.+\.snippet$
  source-files-binaries: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-headers: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-keywords: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-testing-folder-function-names: any of: ^src/testing/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-testing-folder-global-variable-names: any of: ^src/testing/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  test-files-binaries: any of: ^((.+/)*tests/.+\.sh)$, but not: ^.*/test_.+\.sh$
  test-files-headers: any of: ^((.+/)*tests/.+\.sh)$
  test-files-imports: any of: ^((.+/)*tests/.+\.sh)$
