Repository niall-byrne/stdlib: changes, and which pre-commit hooks are due for each by the changed paths.
All: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-binaries, test-files-headers, test-files-imports

Path conditions:
  documentation-build: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  documentation-source-files: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh|src/testing/.+\.sh)$
  snippet-files-headers: any of: ^src/.+\.snippet$
  source-files-binaries: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-headers: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-keywords: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-testing-folder-function-names: any of: ^src/testing/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-testing-folder-global-variable-names: any of: ^src/testing/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  test-files-binaries: any of: ^((.+/)*tests/.+\.sh)$, but not: ^.*/test_.+\.sh$
  test-files-headers: any of: ^((.+/)*tests/.+\.sh)$
  test-files-imports: any of: ^((.+/)*tests/.+\.sh)$

refactor(TRAP): rename cleanup function
  .vale/Vocab/stdlib/accept.txt
  REFERENCE.md
  dist/stdlib.sh
  src/trap/create.sh
  src/trap/tests/create/test_stdlib_trap_create_cleanup_fn.sh
  src/trap/tests/trap/test_stdlib_trap_register_default_handlers.sh
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(SECURITY): protect against builtin overrides
  build/build.sh
  dist/stdlib.sh
  src/__lib__.sh
  src/security/shell/shell.snippet
  src/security/shell/tests/shell_snippet/test_stdlib_security_shell_snippet_assert_is_safe.sh
  src/security/shell/tests/shell_snippet/test_stdlib_security_shell_snippet_query_is_safe.sh
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

docs(TRAP): add stub functions
  REFERENCE.md
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords

feat(FN): add builtin queries and assertions
  dist/stdlib.sh
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/fn/assert/is.sh
  src/fn/assert/not.sh
  src/fn/assert/tests/is/test_stdlib_fn_assert_is_builtin.sh
  src/fn/assert/tests/not/test_fn_assert_not_builtin.sh
  src/fn/query/is.sh
  src/fn/query/tests/is/test_stdlib_fn_query_is_builtin.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(MOCK): ensure declare usage is protected
  dist/stdlib_testing.sh
  locales/en/LC_MESSAGES/stdlib_testing.po
  locales/stdlib_testing.pot
  src/testing/mock/components/assertion.sh
  src/testing/mock/components/controller.sh
  src/testing/mock/components/getter.sh
  src/testing/mock/components/setter.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_any_call_is.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_call_n_is.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_called_once_with.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_calls_are.sh
  src/testing/mock/components/tests/getter/test_stdlib_testing_mock_object_get_call.sh
  src/testing/mock/components/tests/getter/test_stdlib_testing_mock_object_get_calls.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_side_effect_queue.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_side_effects.sh
  src/testing/mock/internal/security/__lib__.sh
  src/testing/mock/internal/security/assert/__lib__.sh
  src/testing/mock/internal/security/assert/is.sh
  src/testing/mock/internal/security/assert/tests/is/test_stdlib_testing_mock_internal_security_assert_is_builtin.sh
  src/testing/mock/message.sh
  src/testing/mock/tests/message/test_stdlib_testing_mock_message_get.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(BOOTSTRAP): simplify process
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
  build/build.sh
  build/t
  dist/stdlib.sh
  src/__lib__.sh
  src/deferred.sh
  src/tests/deferred/test_stdlib_deferred_defer.sh
  src/tests/deferred/test_stdlib_deferred_execute.sh
  src/tests/deferred/test_stdlib_deferred_initialize.sh
  src/trap/register.snippet
  src/trap/tests/register_snippet/test_stdlib_trap_register_snippet.sh
  src/trap/tests/trap/test_stdlib_trap.sh
  src/trap/tests/trap/test_stdlib_trap_register_default_handlers.sh
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(MOCK): validate keyword names
  dist/stdlib.sh
  dist/stdlib_testing.sh
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/__lib__.sh
  src/message.sh
  src/testing/mock/components/setter.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_keywords.sh
  src/testing/protect.sh
  src/testing/tests/protect/test_stdlib_testing_protected_name.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/__lib__.sh
  src/var/assert/__lib__.sh
  src/var/assert/is.sh
  src/var/assert/tests/test_stdlib_var_assert_is_valid_name.sh
  src/var/query/__lib__.sh
  src/var/query/is.sh
  src/var/query/tests/test_stdlib_var_query_is_valid_name.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(ASSERTIONS): add negative assertion for functions
  src/testing/assertion/fn.sh
  src/testing/assertion/tests/fn/test_stdlib_testing_assert_not_fn.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

refactor(FN): standardize fn names
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
  dist/stdlib.sh
  src/setting/colour.sh
  src/setting/tests/colour/test_stdlib_setting_colour_enable.sh
  src/setting/tests/colour/test_stdlib_setting_colour_enable_generate_error_message.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

docs(REFERENCE): enable building of reference
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
  .vale.ini
  .vale/Vocab/stdlib/accept.txt
  Dockerfile
  REFERENCE.md
  build/docs.sh
  dist/stdlib_testing.sh
Due: none

refactor(MOCK): simplify compilation
  src/testing/mock/components/assertion.sh
  src/testing/mock/components/call.sh
  src/testing/mock/components/controller.sh
  src/testing/mock/components/defaults.sh
  src/testing/mock/components/getter.sh
  src/testing/mock/components/main.sh
  src/testing/mock/components/setter.sh
  src/testing/mock/internal/compile.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names

feat(DECLARE): optimize function parsing
  build/build.sh
  dist/stdlib.sh
  dist/stdlib_testing.sh
  dist/t
  src/fn/query/is.sh
  src/testing/mock/mock.sh
  src/testing/protect.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names

docs(SHDOC): tighten global variable rules
  CONTRIBUTING.md
  src/builtin.sh
  src/fn/args.sh
  src/fn/derive/pipeable.sh
  src/io/stdin.sh
  src/logger/logger.sh
  src/setting/colour.sh
  src/string/lines/join.sh
  src/string/lines/map.sh
  src/string/wrap.sh
  tools/documentation_check.py
  tools/tests/assets/invalid_description.sh
  tools/tests/test_documentation_check.py
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-binaries, test-files-headers, test-files-imports

docs(SHDOC): document the mock object api
  .pre-commit-config.yaml
  .vale.ini
  .vale/Vocab/stdlib/accept.txt
  REFERENCE.md
  build/docs.sh
  dist/stdlib_testing.sh
  src/testing/mock/MOCK_OBJECT_REFERENCE.md
  src/testing/mock/components/assertion.sh
  src/testing/mock/components/call.sh
  src/testing/mock/components/controller.sh
  src/testing/mock/components/defaults.sh
  src/testing/mock/components/getter.sh
  src/testing/mock/components/main.sh
  src/testing/mock/components/setter.sh
  tools/documentation_check.py
  tools/tests/assets/invalid_description_mock_component.sh
  tools/tests/assets/valid.sh
  tools/tests/test_documentation_check.py
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-binaries, test-files-headers, test-files-imports

docs(CONTRIBUTING): add contribution guide
  .vale/Vocab/stdlib/accept.txt
  CONTRIBUTING.md
Due: none

build(DOCKER): add shdoc to the container
  Dockerfile
Due: none

docs(AGENTS): add markdown file for jules
  .vale/Vocab/stdlib/accept.txt
  AGENTS.md
Due: none

feat(GETTEXT): support translations
  .github/workflows/workflow-push.yml
  .gitignore
  .pre-commit-config.yaml
  build/build.sh
  build/package.sh
  dist/locales/en/LC_MESSAGES/stdlib.mo
  dist/locales/en/LC_MESSAGES/stdlib_testing.mo
  dist/stdlib.sh
  dist/stdlib_testing.sh
  locales/en/LC_MESSAGES/stdlib.po
  locales/en/LC_MESSAGES/stdlib_testing.po
  locales/stdlib.pot
  locales/stdlib_testing.pot
  src/__lib__.sh
  src/gettext.sh
  src/gettext.snippet
  src/message.sh
  src/testing/__lib__.sh
  src/testing/assertion/message.sh
  src/testing/gettext.sh
  src/testing/message.sh
  src/testing/mock/message.sh
  src/testing/parametrize/message.sh
  src/testing/tests/gettext/test_stdlib_testing_gettext.sh
  src/tests/gettext/test_stdlib_gettext.sh
  src/tests/gettext/test_stdlib_gettext_call.sh
  src/tests/gettext/test_stdlib_gettext_fallback.sh
  src/tests/gettext_snippet/test_stdlib_gettext_snippet.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports
