Repository niall-byrne/stdlib: changes, and which pre-commit hooks are due for each by the changed paths.
All: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-binaries, test-files-headers, test-files-imports

Path conditions:
  documentation-build: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  documentation-source-files: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh|src/testing/.+\.sh)$
  snippet-files-headers: any of: ^src/.+\.snippet$
  source-files-binaries: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-headers: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-keywords: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-testing-folder-function-names: any of: ^src/testing/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-testing-folder-global-variable-names: any of: ^src/testing/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  test-files-binaries: any of: ^((.+/)*tests/.+\.sh)$, but not: ^.*/test_.+\.sh$
  test-files-headers: any of: ^((.+/)*tests/.+\.sh)$
  test-files-imports: any of: ^((.+/)*tests/.+\.sh)$

ci(SHELLCHECK): update source paths
  src/__lib__.sh
  src/array/__lib__.sh
  src/array/assert/__lib__.sh
  src/array/query/__lib__.sh
  src/fn/__lib__.sh
  src/fn/assert/__lib__.sh
  src/fn/derive/__lib__.sh
  src/fn/query/__lib__.sh
  src/io/__lib__.sh
  src/io/path/__lib__.sh
  src/io/path/assert/__lib__.sh
  src/io/path/query/__lib__.sh
  src/logger/__lib__.sh
  src/security/__lib__.sh
  src/security/path/__lib__.sh
  src/security/path/assert/__lib__.sh
  src/security/path/query/__lib__.sh
  src/security/user/__lib__.sh
  src/security/user/assert/__lib__.sh
  src/security/user/query/__lib__.sh
  src/setting/__lib__.sh
  src/setting/state/__lib__.sh
  src/string/__lib__.sh
  src/string/assert/__lib__.sh
  src/string/colour/__lib__.sh
  src/string/lines/__lib__.sh
  src/string/query/__lib__.sh
  src/testing/__lib__.sh
  src/testing/assertion/__lib__.sh
  src/testing/capture/__lib__.sh
  src/testing/fixtures/__lib__.sh
  src/testing/mock/__lib__.sh
  src/testing/mock/internal/__lib__.sh
  src/testing/parametrize/__lib__.sh
  src/trap/__lib__.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names

build(PACKAGING): add scripts
  .gitignore
  Dockerfile
  build/build.sh
  build/package.sh
  build/t
  container.sh
  dist/collect_coverage
  dist/stdlib.sh
  dist/stdlib_testing.sh
  dist/t
Due: none

ci(COVERAGE): enable coverage uploads
  .github/scripts/job-81-coverage-upload.sh
  .github/workflows/workflow-push.yml
  .gitignore
  .pre-commit-config.yaml
Due: none

build(DOCKER): add shdoc to the container
  Dockerfile
Due: none

feat(SECURITY): narrow restricted mock attributes
  dist/stdlib_testing.sh
  src/testing/mock/attributes.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names

feat(SECURITY): protect against builtin overrides
  .pre-commit-config.yaml
  build/build.sh
  dist/stdlib.sh
  src/__lib__.sh
  src/security/shell/shell.snippet
  src/security/shell/tests/shell_snippet/test_stdlib_security_shell_snippet_assert_is_safe.sh
  src/security/shell/tests/shell_snippet/test_stdlib_security_shell_snippet_query_is_safe.sh
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

refactor(MOCK): simplify compilation
  src/testing/mock/components/assertion.sh
  src/testing/mock/components/call.sh
  src/testing/mock/components/controller.sh
  src/testing/mock/components/defaults.sh
  src/testing/mock/components/getter.sh
  src/testing/mock/components/main.sh
  src/testing/mock/components/setter.sh
  src/testing/mock/internal/compile.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names

feat(FN): add builtin queries and assertions
  dist/stdlib.sh
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/fn/assert/is.sh
  src/fn/assert/not.sh
  src/fn/assert/tests/is/test_stdlib_fn_assert_is_builtin.sh
  src/fn/assert/tests/not/test_fn_assert_not_builtin.sh
  src/fn/query/is.sh
  src/fn/query/tests/is/test_stdlib_fn_query_is_builtin.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(MOCK): ensure declare usage is protected
  dist/stdlib_testing.sh
  locales/en/LC_MESSAGES/stdlib_testing.po
  locales/stdlib_testing.pot
  src/testing/mock/components/assertion.sh
  src/testing/mock/components/controller.sh
  src/testing/mock/components/getter.sh
  src/testing/mock/components/setter.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_any_call_is.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_call_n_is.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_called_once_with.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_calls_are.sh
  src/testing/mock/components/tests/getter/test_stdlib_testing_mock_object_get_call.sh
  src/testing/mock/components/tests/getter/test_stdlib_testing_mock_object_get_calls.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_side_effect_queue.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_side_effects.sh
  src/testing/mock/internal/security/__lib__.sh
  src/testing/mock/internal/security/assert/__lib__.sh
  src/testing/mock/internal/security/assert/is.sh
  src/testing/mock/internal/security/assert/tests/is/test_stdlib_testing_mock_internal_security_assert_is_builtin.sh
  src/testing/mock/message.sh
  src/testing/mock/tests/message/test_stdlib_testing_mock_message_get.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(DECLARE): optimize function parsing
  build/build.sh
  dist/stdlib.sh
  dist/stdlib_testing.sh
  dist/t
  src/fn/query/is.sh
  src/testing/mock/mock.sh
  src/testing/protect.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names

feat(MOCK): validate keyword names
  dist/stdlib.sh
  dist/stdlib_testing.sh
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/__lib__.sh
  src/message.sh
  src/testing/mock/components/setter.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_keywords.sh
  src/testing/protect.sh
  src/testing/tests/protect/test_stdlib_testing_protected_name.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/__lib__.sh
  src/var/assert/__lib__.sh
  src/var/assert/is.sh
  src/var/assert/tests/is/test_stdlib_var_assert_is_valid_name.sh
  src/var/query/__lib__.sh
  src/var/query/is.sh
  src/var/query/tests/is/test_stdlib_var_query_is_valid_name.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

docs(SHDOC): tighten global variable rules
  CONTRIBUTING.md
  src/builtin.sh
  src/fn/args.sh
  src/fn/derive/pipeable.sh
  src/io/stdin.sh
  src/logger/logger.sh
  src/setting/colour.sh
  src/string/lines/join.sh
  src/string/lines/map.sh
  src/string/wrap.sh
  tools/documentation_check.py
  tools/tests/assets/invalid_description.sh
  tools/tests/test_documentation_check.py
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-binaries, test-files-headers, test-files-imports

feat(ASSERTIONS): add negative assertion for functions
  src/testing/assertion/fn.sh
  src/testing/assertion/tests/fn/test_stdlib_testing_assert_not_fn.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

docs(REFERENCE): enable building of reference
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
  .vale.ini
  .vale/Vocab/stdlib/accept.txt
  Dockerfile
  REFERENCE.md
  build/docs.sh
  dist/stdlib_testing.sh
Due: none

docs(TRAP): add stub functions
  REFERENCE.md
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords

feat(BOOTSTRAP): simplify process
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
  build/build.sh
  build/t
  dist/stdlib.sh
  src/__lib__.sh
  src/deferred.sh
  src/tests/deferred/test_stdlib_deferred_defer.sh
  src/tests/deferred/test_stdlib_deferred_execute.sh
  src/tests/deferred/test_stdlib_deferred_initialize.sh
  src/trap/register.snippet
  src/trap/tests/register_snippet/test_stdlib_trap_register_snippet.sh
  src/trap/tests/trap/test_stdlib_trap.sh
  src/trap/tests/trap/test_stdlib_trap_register_default_handlers.sh
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

docs(SHDOC): document the mock object api
  .pre-commit-config.yaml
  .vale.ini
  .vale/Vocab/stdlib/accept.txt
  REFERENCE.md
  build/docs.sh
  dist/stdlib_testing.sh
  src/testing/mock/MOCK_OBJECT_REFERENCE.md
  src/testing/mock/components/assertion.sh
  src/testing/mock/components/call.sh
  src/testing/mock/components/controller.sh
  src/testing/mock/components/defaults.sh
  src/testing/mock/components/getter.sh
  src/testing/mock/components/main.sh
  src/testing/mock/components/setter.sh
  tools/documentation_check.py
  tools/tests/assets/invalid_description_mock_component.sh
  tools/tests/assets/valid.sh
  tools/tests/test_documentation_check.py
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-binaries, test-files-headers, test-files-imports

refactor(TRAP): rename cleanup function
  .vale/Vocab/stdlib/accept.txt
  REFERENCE.md
  dist/stdlib.sh
  src/trap/create.sh
  src/trap/tests/create/test_stdlib_trap_create_cleanup_fn.sh
  src/trap/tests/trap/test_stdlib_trap_register_default_handlers.sh
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

refactor(FN): standardize fn names
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
  dist/stdlib.sh
  src/setting/colour.sh
  src/setting/tests/colour/test_stdlib_setting_colour_enable.sh
  src/setting/tests/colour/test_stdlib_setting_colour_enable_generate_error_message.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

docs(SHDOC): split stdlib references up and index
  .pre-commit-config.yaml
  .vale/Vocab/stdlib/accept.txt
  REFERENCE.md
  REFERENCE_TESTING.md
  build/docs.sh
  src/REFERENCE_COMPLETE.md
  src/array/REFERENCE.md
  src/fn/REFERENCE.md
  src/io/REFERENCE.md
  src/logger/REFERENCE.md
  src/security/REFERENCE.md
  src/setting/REFERENCE.md
  src/string/REFERENCE.md
  src/testing/REFERENCE_COMPLETE.md
  src/trap/REFERENCE.md
  src/var/REFERENCE.md
Due: none

ci(GITHUB): simplify pre-commit execution
  .github/workflows/workflow-push.yml
Due: none

docs(SPHINX): translatable documentation
  .cicd-tools/configuration/pre-commit-bootstrap.yaml
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yml
  .vale/Vocab/stdlib/accept.txt
  README.md
  docs/Makefile
  docs/conf.py
  docs/conf/__init__.py
  docs/conf/general.py
  docs/conf/html.py
  docs/conf/markdown.py
  docs/conf/myst.py
  docs/conf/symlinks.py
  docs/embeds/container_script.md
  docs/embeds/customized_t_script.md
  docs/embeds/distribution_t_script.md
  docs/index.md
  docs/integration_guide.md
  docs/locales/en/LC_MESSAGES/embeds.po
  docs/locales/en/LC_MESSAGES/index.po
  docs/locales/en/LC_MESSAGES/integration_guide.po
  docs/locales/en/LC_MESSAGES/reference.po
  docs/locales/en/LC_MESSAGES/reference_testing.po
  docs/make.bat
  poetry.lock
  pyproject.toml
Due: none

ci(GITHUB): support latest shellcheck
  .github/scripts/job-50-test-precommit.sh
Due: none

build(PACKAGING): make builtin overrides optional
  .pre-commit-config.yaml
  build/distribution_test.sh
  build/package.sh
  dist/stdlib.sh
  src/builtin.sh
  src/tests/builtin/test_stdlib_builtin_overridable.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(STRING): functions to validate decimals
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/string/REFERENCE.md
  src/string/assert/is.sh
  src/string/assert/tests/is/test_stdlib_string_assert_is_decimal.sh
  src/string/assert/tests/is/test_stdlib_string_assert_is_decimal_positive.sh
  src/string/query/is.sh
  src/string/query/tests/is/test_stdlib_string_query_is_decimal.sh
  src/string/query/tests/is/test_stdlib_string_query_is_decimal_positive.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(STRING): functions to validate snake case
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/string/REFERENCE.md
  src/string/assert/is.sh
  src/string/assert/tests/is/test_stdlib_string_assert_is_snake_case.sh
  src/string/assert/tests/is/test_stdlib_string_assert_is_snake_case_upper.sh
  src/string/query/is.sh
  src/string/query/tests/is/test_stdlib_string_query_is_snake_case.sh
  src/string/query/tests/is/test_stdlib_string_query_is_snake_case_upper.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(STRING): functions to validate ip addresses
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/string/REFERENCE.md
  src/string/assert/__lib__.sh
  src/string/assert/net/__lib__.sh
  src/string/assert/net/is.sh
  src/string/assert/net/tests/is/test_stdlib_string_assert_net_is_ipv4.sh
  src/string/assert/net/tests/is/test_stdlib_string_assert_net_is_ipv6.sh
  src/string/query/__lib__.sh
  src/string/query/net/__lib__.sh
  src/string/query/net/is.sh
  src/string/query/net/tests/is/test_stdlib_string_query_net_is_ipv4.sh
  src/string/query/net/tests/is/test_stdlib_string_query_net_is_ipv6.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(TESTING): add array contains assertion
  dist/stdlib_testing.sh
  docs/locales/en/LC_MESSAGES/reference_testing.po
  src/testing/REFERENCE_COMPLETE.md
  src/testing/assertion/REFERENCE.md
  src/testing/assertion/array.sh
  src/testing/assertion/tests/array/test_stdlib_testing_assert_is_array_containing.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(IO): add query/assertion for empty file
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  docs/locales/en/LC_MESSAGES/reference_testing.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/io/REFERENCE.md
  src/io/path/assert/is.sh
  src/io/path/assert/tests/is/test_io_path_assert_is_file_empty.sh
  src/io/path/query/is.sh
  src/io/path/query/tests/is/test_io_path_query_is_file_empty.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(ARRAY): stricter array name validation
  dist/stdlib.sh
  src/array/assert/tests/not/test_array_assert_not_array.sh
  src/array/query/is.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(FN): stricter variable name validation
  dist/stdlib.sh
  src/fn/derive/tests/var/test_stdlib_fn_derive_var.sh
  src/fn/derive/var.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(IO): concurrency control
  dist/stdlib.sh
  dist/t
  docs/locales/en/LC_MESSAGES/reference.po
  docs/locales/en/LC_MESSAGES/reference_testing.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/binary.sh
  src/io/REFERENCE.md
  src/io/__lib__.sh
  src/io/lock.sh
  src/io/tests/lock/test_stdlib_io_lock_acquire.sh
  src/io/tests/lock/test_stdlib_io_lock_integration.sh
  src/io/tests/lock/test_stdlib_io_lock_release.sh
  src/io/tests/lock/test_stdlib_io_lock_with.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_allocate.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_cleanup.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

test(COVERAGE): collect from testing folder
  dist/collect_coverage
  dist/stdlib_testing.sh
  docs/locales/en/LC_MESSAGES/reference_testing.po
  src/testing/assertion/array.sh
  src/testing/mock/REFERENCE_MOCK_OBJECT.md
  src/testing/mock/arg_string/make.sh
  src/testing/mock/attributes.sh
  src/testing/mock/components/setter.sh
  src/testing/mock/internal/compile.sh
  src/testing/parametrize/apply.sh
  src/testing/parametrize/internal/configuration.sh
  src/testing/parametrize/internal/create.sh
  src/testing/parametrize/internal/validate.sh
  src/testing/parametrize/parametrize.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names

feat(TESTING): concurrent mock sequence tracking
  dist/stdlib_testing.sh
  src/testing/mock/components/call.sh
  src/testing/mock/components/tests/call/test_stdlib_testing_mock_object_call_locking.sh
  src/testing/mock/internal/persistence/sequence.sh
  src/testing/mock/tests/mock/test_stdlib_testing_mock_call_concurrency.sh
  src/testing/mock/tests/sequence/test_stdlib_testing_mock_sequence_record_concurrency.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(STRING): rename is_string to is_empty
  .vale/Vocab/stdlib/accept.txt
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/string/REFERENCE.md
  src/string/assert/is.sh
  src/string/assert/tests/is/test_stdlib_string_assert_is_empty.sh
  src/string/assert/tests/is/test_stdlib_string_assert_is_string.sh
  src/string/query/is.sh
  src/string/query/tests/is/test_stdlib_string_query_is_empty.sh
  src/string/query/tests/is/test_stdlib_string_query_is_string.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(VAR): add query/assertion for set vars
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/REFERENCE.md
  src/var/assert/is.sh
  src/var/assert/tests/is/test_stdlib_var_assert_is_set.sh
  src/var/query/is.sh
  src/var/query/tests/is/test_stdlib_var_query_is_set.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports
