Repository niall-byrne/stdlib: changes, and which pre-commit hooks are due for each by the changed paths.
All: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-binaries, test-files-headers, test-files-imports

documentation-build:
  name: build documentation using shdoc
  entry: bash -c "TEST_CONTAINER_DISABLE_TTY=1 ./container.sh run build/docs.sh REFERENCE.md"
  language: system
  pass_filenames: false
  require_serial: true

documentation-source-files:
  name: ensure source functions are correctly documented
  entry: python tools/documentation_check.py
  language: system
  pass_filenames: true
  require_serial: true

snippet-files-headers:
  name: ensure snippet files have correct headers
  entry: '\A(?!#!/bin/bash
  
    ).+\Z'
  args:
  - --multiline
  language: pygrep

source-files-binaries:
  name: ensure source files don't directly reference restricted binary commands
  entry: ^(?!.*\# noqa\s*$|^\s*#.*$).*((?<=\s|\()|(?<=^))(cat|cut|grep|head|mktemp|rm|sed|sort|tail|tput|tr)((\s|\)).*$|$)
  language: pygrep

source-files-headers:
  name: ensure source files have correct headers
  entry: '\A(?!#!/bin/bash
  
    (# shellcheck disable=.+
  
    ){0,1}
  
    # stdlib.+
  
    builtin set -eo pipefail
  
    ).+\Z'
  args:
  - --multiline
  language: pygrep

source-files-keywords:
  name: ensure source files use builtins prefaced with the 'builtin' command
  ...

source-files-testing-folder-function-names:
  name: ensure source files in the testing folder use the correct function names
  entry: ^(?!.*\# noqa\s*$|^\s*#.*$)(?!((assert_|_capture\.)[a-z_]+)|((__)*\$\{1\}|@parametrize)|((?!.+\._[^_].+)((__)*\$\{1\}|_testing|_mock|@parametrize))\.[a-z_.]+).*\(\) {$
  language: pygrep

source-files-testing-folder-global-variable-names:
  name: ensure source files in the testing folder use the correct global variable names for booleans
  entry: ^(?!.*\# noqa\s*$|^\s*#.*$)\s*([A-Z_]+)(?<!_BOOLEAN)=("[01]"|[01])$
  language: pygrep

test-files-binaries:
  name: ensure test files don't directly reference restricted binary commands
  entry: ^(?!.*\# noqa\s*$|^\s*#.*$).*((?<=\s|\()|(?<=^))(cat|cut|grep|head|mktemp|rm|sed|sort|tail|tput|tr)((\s|\)).*$|$)
  language: pygrep

test-files-headers:
  name: ensure test files have correct headers
  entry: '\A(?!#!/bin/bash
  
    ).+\Z'
  args:
  - --multiline
  language: pygrep

test-files-imports:
  name: ensure test files do not use the source keyword for imports
  entry: '\A#!/bin/bash
  
    .+((^ *|^ +|; *|\| *|\& *)(source |\. )(".+?"|\S+) *(;*)$)+.+\Z'
  args:
  - --multiline
  language: pygrep

ci(GITHUB): simplify pre-commit execution
  .github/workflows/workflow-push.yml
Due: none

refactor(FN): standardize fn names
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
  dist/stdlib.sh
  src/setting/colour.sh
  src/setting/tests/colour/test_stdlib_setting_colour_enable.sh
  src/setting/tests/colour/test_stdlib_setting_colour_enable_generate_error_message.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

docs(SPHINX): translatable documentation
  .cicd-tools/configuration/pre-commit-bootstrap.yaml
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yml
  .vale/Vocab/stdlib/accept.txt
  README.md
  docs/Makefile
  docs/conf.py
  docs/conf/__init__.py
  docs/conf/general.py
  docs/conf/html.py
  docs/conf/markdown.py
  docs/conf/myst.py
  docs/conf/symlinks.py
  docs/embeds/container_script.md
  docs/embeds/customized_t_script.md
  docs/embeds/distribution_t_script.md
  docs/index.md
  docs/integration_guide.md
  docs/locales/en/LC_MESSAGES/embeds.po
  docs/locales/en/LC_MESSAGES/index.po
  docs/locales/en/LC_MESSAGES/integration_guide.po
  docs/locales/en/LC_MESSAGES/reference.po
  docs/locales/en/LC_MESSAGES/reference_testing.po
  docs/make.bat
  poetry.lock
  pyproject.toml
Due: none

docs(SHDOC): document the mock object api
  .pre-commit-config.yaml
  .vale.ini
  .vale/Vocab/stdlib/accept.txt
  REFERENCE.md
  build/docs.sh
  dist/stdlib_testing.sh
  src/testing/mock/MOCK_OBJECT_REFERENCE.md
  src/testing/mock/components/assertion.sh
  src/testing/mock/components/call.sh
  src/testing/mock/components/controller.sh
  src/testing/mock/components/defaults.sh
  src/testing/mock/components/getter.sh
  src/testing/mock/components/main.sh
  src/testing/mock/components/setter.sh
  tools/documentation_check.py
  tools/tests/assets/invalid_description_mock_component.sh
  tools/tests/assets/valid.sh
  tools/tests/test_documentation_check.py
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-binaries, test-files-headers, test-files-imports

docs(SHDOC): split stdlib references up and index
  .pre-commit-config.yaml
  .vale/Vocab/stdlib/accept.txt
  REFERENCE.md
  REFERENCE_TESTING.md
  build/docs.sh
  src/REFERENCE_COMPLETE.md
  src/array/REFERENCE.md
  src/fn/REFERENCE.md
  src/io/REFERENCE.md
  src/logger/REFERENCE.md
  src/security/REFERENCE.md
  src/setting/REFERENCE.md
  src/string/REFERENCE.md
  src/testing/REFERENCE_COMPLETE.md
  src/trap/REFERENCE.md
  src/var/REFERENCE.md
Due: none

refactor(TRAP): rename cleanup function
  .vale/Vocab/stdlib/accept.txt
  REFERENCE.md
  dist/stdlib.sh
  src/trap/create.sh
  src/trap/tests/create/test_stdlib_trap_create_cleanup_fn.sh
  src/trap/tests/trap/test_stdlib_trap_register_default_handlers.sh
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

build(PACKAGING): make builtin overrides optional
  .pre-commit-config.yaml
  build/distribution_test.sh
  build/package.sh
  dist/stdlib.sh
  src/builtin.sh
  src/tests/builtin/test_stdlib_builtin_overridable.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

ci(GITHUB): support latest shellcheck
  .github/scripts/job-50-test-precommit.sh
Due: none

feat(WIP): concurrency control
  src/REFERENCE_COMPLETE.md
  src/binary.sh
  src/io/REFERENCE.md
  src/io/__lib__.sh
  src/io/lock.sh
  src/io/path/assert/is.sh
  src/io/path/assert/tests/is/test_io_path_assert_is_file_empty.sh
  src/io/path/query/is.sh
  src/io/path/query/tests/is/test_io_path_query_is_file_empty.sh
  src/io/tests/lock/test_stdlib_io_lock_acquire.sh
  src/io/tests/lock/test_stdlib_io_lock_integration.sh
  src/io/tests/lock/test_stdlib_io_lock_release.sh
  src/io/tests/lock/test_stdlib_io_lock_with.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_allocate.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_cleanup.sh
  src/message.sh
  src/testing/assertion/array.sh
  src/testing/assertion/tests/array/test_stdlib_testing_assert_is_array_containing.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

build(PACKAGING): create first distribution
  dist/stdlib.sh
  dist/stdlib_testing.sh
Due: none

ci(SHELLCHECK): update source paths
  src/__lib__.sh
  src/array/__lib__.sh
  src/array/assert/__lib__.sh
  src/array/query/__lib__.sh
  src/fn/__lib__.sh
  src/fn/assert/__lib__.sh
  src/fn/derive/__lib__.sh
  src/fn/query/__lib__.sh
  src/io/__lib__.sh
  src/io/path/__lib__.sh
  src/io/path/assert/__lib__.sh
  src/io/path/query/__lib__.sh
  src/logger/__lib__.sh
  src/security/__lib__.sh
  src/security/path/__lib__.sh
  src/security/path/assert/__lib__.sh
  src/security/path/query/__lib__.sh
  src/security/user/__lib__.sh
  src/security/user/assert/__lib__.sh
  src/security/user/query/__lib__.sh
  src/setting/__lib__.sh
  src/setting/state/__lib__.sh
  src/string/__lib__.sh
  src/string/assert/__lib__.sh
  src/string/colour/__lib__.sh
  src/string/lines/__lib__.sh
  src/string/query/__lib__.sh
  src/testing/__lib__.sh
  src/testing/assertion/__lib__.sh
  src/testing/capture/__lib__.sh
  src/testing/fixtures/__lib__.sh
  src/testing/mock/__lib__.sh
  src/testing/mock/internal/__lib__.sh
  src/testing/parametrize/__lib__.sh
  src/trap/__lib__.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names

build(PACKAGING): modify codebase
  src/logger/tests/test_stdlib_logger_traceback.sh
  src/setting/__lib__.sh
  src/setting/colour.sh
  src/setting/state/__lib__.sh
  src/setting/state/colour_disabled.sh
  src/setting/state/colour_enabled.sh
  src/setting/state/colour_theme.sh
  src/setting/state/disabled.sh
  src/setting/state/enabled.sh
  src/setting/state/theme.sh
  src/setting/theme.sh
  src/string/colour/tests/test_stdlib_string_colour_n.sh
  src/testing/__lib__.sh
  src/testing/mock/mock.sh
  src/testing/mock/mock.snippet
  src/testing/mock/tests/mock_snippet/test_stdlib_testing_mock_snippet.sh
  src/trap/register.snippet
  src/trap/tests/register_snippet/test_stdlib_trap_register_snippet.sh
  src/trap/tests/trap/test_stdlib_trap.sh
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

build(PACKAGING): add scripts
  .gitignore
  Dockerfile
  build/build.sh
  build/package.sh
  build/t
  container.sh
  dist/collect_coverage
  dist/stdlib.sh
  dist/stdlib_testing.sh
  dist/t
Due: none

feat(SECURITY): narrow restricted mock attributes
  dist/stdlib_testing.sh
  src/testing/mock/attributes.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names

ci(GITHUB): integrate cicd-tools
  .cicd-tools/configuration/actionlint.yaml
  .cicd-tools/configuration/changelog.json
  .cicd-tools/configuration/pre-commit-bootstrap.yaml
  .github/actions/action-00-toolbox/action.yml
  .github/config/actions/github-action-markdown-link-check.json
  .github/config/schemas/workflows/workflow-push.json
  .github/config/workflows/workflow-push.json
  .github/scripts/job-50-test-precommit.sh
  .github/scripts/step-setup-environment.sh
  .github/workflows/workflow-push.yml
  .gitignore
  .markdownlint.yml
  .pre-commit-config.yaml
  .vale.ini
  .vale/Vocab/stdlib/accept.txt
  .vale/Vocab/stdlib/reject.txt
  .yamllint.yml
  poetry.lock
  pyproject.toml
Due: none

ci(COVERAGE): enable coverage uploads
  .github/scripts/job-81-coverage-upload.sh
  .github/workflows/workflow-push.yml
  .gitignore
  .pre-commit-config.yaml
Due: none

feat(ASSERTIONS): add negative assertion for functions
  src/testing/assertion/fn.sh
  src/testing/assertion/tests/fn/test_stdlib_testing_assert_not_fn.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(BOOTSTRAP): simplify process
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
  build/build.sh
  build/t
  dist/stdlib.sh
  src/__lib__.sh
  src/deferred.sh
  src/tests/deferred/test_stdlib_deferred_defer.sh
  src/tests/deferred/test_stdlib_deferred_execute.sh
  src/tests/deferred/test_stdlib_deferred_initialize.sh
  src/trap/register.snippet
  src/trap/tests/register_snippet/test_stdlib_trap_register_snippet.sh
  src/trap/tests/trap/test_stdlib_trap.sh
  src/trap/tests/trap/test_stdlib_trap_register_default_handlers.sh
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

docs(REFERENCE): enable building of reference
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
  .vale.ini
  .vale/Vocab/stdlib/accept.txt
  Dockerfile
  REFERENCE.md
  build/docs.sh
  dist/stdlib_testing.sh
Due: none

feat(DECLARE): optimize function parsing
  build/build.sh
  dist/stdlib.sh
  dist/stdlib_testing.sh
  dist/t
  src/fn/query/is.sh
  src/testing/mock/mock.sh
  src/testing/protect.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names

refactor(MOCK): simplify compilation
  src/testing/mock/components/assertion.sh
  src/testing/mock/components/call.sh
  src/testing/mock/components/controller.sh
  src/testing/mock/components/defaults.sh
  src/testing/mock/components/getter.sh
  src/testing/mock/components/main.sh
  src/testing/mock/components/setter.sh
  src/testing/mock/internal/compile.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names

docs(SHDOC): tighten global variable rules
  CONTRIBUTING.md
  src/builtin.sh
  src/fn/args.sh
  src/fn/derive/pipeable.sh
  src/io/stdin.sh
  src/logger/logger.sh
  src/setting/colour.sh
  src/string/lines/join.sh
  src/string/lines/map.sh
  src/string/wrap.sh
  tools/documentation_check.py
  tools/tests/assets/invalid_description.sh
  tools/tests/test_documentation_check.py
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-binaries, test-files-headers, test-files-imports

feat(FN): add builtin queries and assertions
  dist/stdlib.sh
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/fn/assert/is.sh
  src/fn/assert/not.sh
  src/fn/assert/tests/is/test_stdlib_fn_assert_is_builtin.sh
  src/fn/assert/tests/not/test_fn_assert_not_builtin.sh
  src/fn/query/is.sh
  src/fn/query/tests/is/test_stdlib_fn_query_is_builtin.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

build(DOCKER): add shdoc to the container
  Dockerfile
Due: none

docs(AGENTS): add markdown file for jules
  .vale/Vocab/stdlib/accept.txt
  AGENTS.md
Due: none

ci(GITHUB): release workflow
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
Due: none

feat(SECURITY): protect against builtin overrides
  .pre-commit-config.yaml
  build/build.sh
  dist/stdlib.sh
  src/__lib__.sh
  src/security/shell/shell.snippet
  src/security/shell/tests/shell_snippet/test_stdlib_security_shell_snippet_assert_is_safe.sh
  src/security/shell/tests/shell_snippet/test_stdlib_security_shell_snippet_query_is_safe.sh
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

docs(CONTRIBUTING): add contribution guide
  .vale/Vocab/stdlib/accept.txt
  CONTRIBUTING.md
Due: none

feat(MOCK): ensure declare usage is protected
  dist/stdlib_testing.sh
  locales/en/LC_MESSAGES/stdlib_testing.po
  locales/stdlib_testing.pot
  src/testing/mock/components/assertion.sh
  src/testing/mock/components/controller.sh
  src/testing/mock/components/getter.sh
  src/testing/mock/components/setter.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_any_call_is.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_call_n_is.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_called_once_with.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_calls_are.sh
  src/testing/mock/components/tests/getter/test_stdlib_testing_mock_object_get_call.sh
  src/testing/mock/components/tests/getter/test_stdlib_testing_mock_object_get_calls.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_side_effect_queue.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_side_effects.sh
  src/testing/mock/internal/security/__lib__.sh
  src/testing/mock/internal/security/assert/__lib__.sh
  src/testing/mock/internal/security/assert/is.sh
  src/testing/mock/internal/security/assert/tests/is/test_stdlib_testing_mock_internal_security_assert_is_builtin.sh
  src/testing/mock/message.sh
  src/testing/mock/tests/message/test_stdlib_testing_mock_message_get.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(GETTEXT): support translations
  .github/workflows/workflow-push.yml
  .gitignore
  .pre-commit-config.yaml
  build/build.sh
  build/package.sh
  dist/locales/en/LC_MESSAGES/stdlib.mo
  dist/locales/en/LC_MESSAGES/stdlib_testing.mo
  dist/stdlib.sh
  dist/stdlib_testing.sh
  locales/en/LC_MESSAGES/stdlib.po
  locales/en/LC_MESSAGES/stdlib_testing.po
  locales/stdlib.pot
  locales/stdlib_testing.pot
  src/__lib__.sh
  src/gettext.sh
  src/gettext.snippet
  src/message.sh
  src/testing/__lib__.sh
  src/testing/assertion/message.sh
  src/testing/gettext.sh
  src/testing/message.sh
  src/testing/mock/message.sh
  src/testing/parametrize/message.sh
  src/testing/tests/gettext/test_stdlib_testing_gettext.sh
  src/tests/gettext/test_stdlib_gettext.sh
  src/tests/gettext/test_stdlib_gettext_call.sh
  src/tests/gettext/test_stdlib_gettext_fallback.sh
  src/tests/gettext_snippet/test_stdlib_gettext_snippet.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

docs(TRAP): add stub functions
  REFERENCE.md
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords

feat(MOCK): validate keyword names
  dist/stdlib.sh
  dist/stdlib_testing.sh
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/__lib__.sh
  src/message.sh
  src/testing/mock/components/setter.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_keywords.sh
  src/testing/protect.sh
  src/testing/tests/protect/test_stdlib_testing_protected_name.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/__lib__.sh
  src/var/assert/__lib__.sh
  src/var/assert/is.sh
  src/var/assert/tests/test_stdlib_var_assert_is_valid_name.sh
  src/var/query/__lib__.sh
  src/var/query/is.sh
  src/var/query/tests/test_stdlib_var_query_is_valid_name.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

Path conditions:
  documentation-build: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  documentation-source-files: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh|src/testing/.+\.sh)$
  snippet-files-headers: any of: ^src/.+\.snippet$
  source-files-binaries: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-headers: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-keywords: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-testing-folder-function-names: any of: ^src/testing/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-testing-folder-global-variable-names: any of: ^src/testing/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  test-files-binaries: any of: ^((.+/)*tests/.+\.sh)$, but not: ^.*/test_.+\.sh$
  test-files-headers: any of: ^((.+/)*tests/.+\.sh)$
  test-files-imports: any of: ^((.+/)*tests/.+\.sh)$
