Repository niall-byrne/stdlib: changes, and which pre-commit hooks are due for each by the changed paths.
All: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-binaries, test-files-headers, test-files-imports

Path conditions:
  documentation-build: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  documentation-source-files: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh|src/testing/.+\.sh)$
  snippet-files-headers: any of: ^src/.+\.snippet$
  source-files-binaries: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-headers: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-keywords: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-testing-folder-function-names: any of: ^src/testing/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-testing-folder-global-variable-names: any of: ^src/testing/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  test-files-binaries: any of: ^((.+/)*tests/.+\.sh)$, but not: ^.*/test_.+\.sh$
  test-files-headers: any of: ^((.+/)*tests/.+\.sh)$
  test-files-imports: any of: ^((.+/)*tests/.+\.sh)$

feat(TESTING): parametrizer modifier variable validation
  dist/stdlib_testing.sh
  docs/locales/en/LC_MESSAGES/reference_testing.po
  src/testing/REFERENCE_COMPLETE.md
  src/testing/parametrize/REFERENCE.md
  src/testing/parametrize/apply.sh
  src/testing/parametrize/compose.sh
  src/testing/parametrize/internal/__lib__.sh
  src/testing/parametrize/internal/configuration.sh
  src/testing/parametrize/internal/create.sh
  src/testing/parametrize/internal/default.sh
  src/testing/parametrize/internal/tests/configuration/test_stdlib_testing_parametrize_internal_configuration_parse.sh
  src/testing/parametrize/internal/tests/create/test_stdlib_testing_parametrize_internal_create_array_fn_variant_names.sh
  src/testing/parametrize/internal/tests/create/test_stdlib_testing_parametrize_internal_create_fn_test_variant.sh
  src/testing/parametrize/internal/tests/create/test_stdlib_testing_parametrize_internal_create_string_padded_variant_name.sh
  src/testing/parametrize/internal/tests/validate/test_stdlib_testing_parametrize_internal_validate_fn_name_parametrizer_fn.sh
  src/testing/parametrize/internal/tests/validate/test_stdlib_testing_parametrize_internal_validate_fn_name_test.sh
  src/testing/parametrize/internal/tests/validate/test_stdlib_testing_parametrize_internal_validate_keywords.sh
  src/testing/parametrize/internal/tests/validate/test_stdlib_testing_parametrize_internal_validate_keywords_aggregation.sh
  src/testing/parametrize/internal/tests/validate/test_stdlib_testing_parametrize_internal_validate_reserved_variables.sh
  src/testing/parametrize/internal/tests/validate/test_stdlib_testing_parametrize_internal_validate_scenario.sh
  src/testing/parametrize/internal/validate.sh
  src/testing/parametrize/message.sh
  src/testing/parametrize/parametrize.sh
  src/testing/parametrize/tests/__fixtures__/parametrizers.sh
  src/testing/parametrize/tests/apply/test_stdlib_testing_parametrize_apply.sh
  src/testing/parametrize/tests/apply/test_stdlib_testing_parametrize_apply_api.sh
  src/testing/parametrize/tests/compose/test_stdlib_testing_parametrize_compose.sh
  src/testing/parametrize/tests/compose/test_stdlib_testing_parametrize_compose_api.sh
  src/testing/parametrize/tests/message/test_stdlib_testing_parametrize_message_get.sh
  src/testing/parametrize/tests/parametrize/test_stdlib_testing_parametrize.sh
  src/testing/parametrize/tests/parametrize/test_stdlib_testing_parametrize_api.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-binaries, test-files-headers, test-files-imports

feat(TESTING): mock modifier variable validation
  dist/stdlib_testing.sh
  docs/locales/en/LC_MESSAGES/reference_testing.po
  src/testing/REFERENCE_COMPLETE.md
  src/testing/mock/REFERENCE.md
  src/testing/mock/REFERENCE_MOCK_OBJECT.md
  src/testing/mock/arg_string/make.sh
  src/testing/mock/arg_string/tests/arg_string/test_stdlib_testing_mock_arg_string_make_from_string.sh
  src/testing/mock/components/assertion.sh
  src/testing/mock/components/call.sh
  src/testing/mock/components/controller.sh
  src/testing/mock/components/getter.sh
  src/testing/mock/components/main.sh
  src/testing/mock/components/setter.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_any_call_is.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_call_n_is.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_called_once_with.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_calls_are.sh
  src/testing/mock/components/tests/getter/test_stdlib_testing_mock_object_get_call.sh
  src/testing/mock/components/tests/getter/test_stdlib_testing_mock_object_get_calls.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_side_effects.sh
  src/testing/mock/internal/compile.sh
  src/testing/mock/internal/persistence/registry.sh
  src/testing/mock/internal/persistence/sequence.sh
  src/testing/mock/internal/persistence/tests/registry/test_stdlib_testing_mock_internal_persistence_registry_add_mock.sh
  src/testing/mock/internal/persistence/tests/registry/test_stdlib_testing_mock_internal_persistence_registry_apply_to_all.sh
  src/testing/mock/internal/persistence/tests/registry/test_stdlib_testing_mock_internal_persistence_registry_cleanup.sh
  src/testing/mock/internal/persistence/tests/registry/test_stdlib_testing_mock_internal_persistence_registry_create.sh
  src/testing/mock/internal/persistence/tests/sequence/test_stdlib_testing_mock_internal_persistence_sequence_initialize.sh
  src/testing/mock/internal/security/assert/is.sh
  src/testing/mock/internal/security/assert/tests/is/test_stdlib_testing_mock_internal_security_assert_is_builtin.sh
  src/testing/mock/mock.sh
  src/testing/mock/sequence.sh
  src/testing/mock/tests/mock/test_stdlib_testing_mock_create.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(ARRAY): deprecate buffer variable
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  src/REFERENCE_COMPLETE.md
  src/array/REFERENCE.md
  src/array/getter.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords

feat(SRC): top level modifier variable validation
  src/builtin.sh
  src/deferred.sh
  src/gettext.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords

feat(ARRAY): add make copy function
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  src/REFERENCE_COMPLETE.md
  src/array/REFERENCE.md
  src/array/make.sh
  src/array/tests/make/test_stdlib_array_make_from_array.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

ci(GITHUB): codecov key migration
  .github/scripts/job-81-coverage-upload.sh
  .vale/Vocab/stdlib/accept.txt
Due: none

feat(STRING): deprecate lines in favour of split
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  src/REFERENCE_COMPLETE.md
  src/string/REFERENCE.md
  src/string/__lib__.sh
  src/string/lines/__lib__.sh
  src/string/lines/join.sh
  src/string/lines/map.sh
  src/string/lines/tests/join/test_stdlib_string_lines_join.sh
  src/string/lines/tests/join/test_stdlib_string_lines_join_pipe.sh
  src/string/lines/tests/join/test_stdlib_string_lines_join_var.sh
  src/string/lines/tests/map/test_stdlib_string_lines_map_fn.sh
  src/string/lines/tests/map/test_stdlib_string_lines_map_fn_pipe.sh
  src/string/lines/tests/map/test_stdlib_string_lines_map_fn_var.sh
  src/string/lines/tests/map/test_stdlib_string_lines_map_format.sh
  src/string/lines/tests/map/test_stdlib_string_lines_map_format_pipe.sh
  src/string/lines/tests/map/test_stdlib_string_lines_map_format_var.sh
  src/string/split/__lib__.sh
  src/string/split/map.sh
  src/string/split/tests/map/__fixtures__/map_fn.sh
  src/string/split/tests/map/test_stdlib_string_lines_map_fn.sh
  src/string/split/tests/map/test_stdlib_string_lines_map_fn_pipe.sh
  src/string/split/tests/map/test_stdlib_string_lines_map_fn_var.sh
  src/string/split/tests/map/test_stdlib_string_lines_map_format.sh
  src/string/split/tests/map/test_stdlib_string_lines_map_format_pipe.sh
  src/string/split/tests/map/test_stdlib_string_lines_map_format_var.sh
  src/testing/mock/arg_string/make.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-binaries, test-files-headers, test-files-imports

feat(ARRAY): support multi-char delimiters
  dist/stdlib.sh
  src/REFERENCE_COMPLETE.md
  src/array/REFERENCE.md
  src/array/make.sh
  src/array/tests/make/test_stdlib_array_make_from_file.sh
  src/array/tests/make/test_stdlib_array_make_from_string.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(TESTING): support multi-char delimiters
  dist/stdlib_testing.sh
  docs/locales/en/LC_MESSAGES/reference_testing.po
  src/testing/REFERENCE_COMPLETE.md
  src/testing/mock/REFERENCE.md
  src/testing/mock/arg_string/make.sh
  src/testing/mock/arg_string/tests/arg_string/test_stdlib_testing_mock_arg_string_make_from_string.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(STRING): standardize equality query/assertion
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/string/REFERENCE.md
  src/string/assert/is.sh
  src/string/assert/not.sh
  src/string/assert/tests/is/test_stdlib_string_assert_is_equal.sh
  src/string/query/is.sh
  src/string/query/not.sh
  src/string/query/tests/is/test_stdlib_string_query_is_equal.sh
  src/string/query/tests/not/test_stdlib_string_query_not_equal.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_call_n_is.sh
  src/testing/mock/components/tests/getter/test_stdlib_testing_mock_object_get_call.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(FN): support inf optional args in stdlib.fn.args.require
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  src/REFERENCE_COMPLETE.md
  src/fn/REFERENCE.md
  src/fn/args.sh
  src/fn/derive/var.sh
  src/fn/tests/args/test_stdlib_fn_args_require.sh
  src/io/lock.sh
  src/string/args/join.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

build(PACKAGING): add scripts
  .gitignore
  Dockerfile
  build/build.sh
  build/package.sh
  build/t
  container.sh
  dist/collect_coverage
  dist/stdlib.sh
  dist/stdlib_testing.sh
  dist/t
Due: none

ci(SHELLCHECK): update source paths
  src/__lib__.sh
  src/array/__lib__.sh
  src/array/assert/__lib__.sh
  src/array/query/__lib__.sh
  src/fn/__lib__.sh
  src/fn/assert/__lib__.sh
  src/fn/derive/__lib__.sh
  src/fn/query/__lib__.sh
  src/io/__lib__.sh
  src/io/path/__lib__.sh
  src/io/path/assert/__lib__.sh
  src/io/path/query/__lib__.sh
  src/logger/__lib__.sh
  src/security/__lib__.sh
  src/security/path/__lib__.sh
  src/security/path/assert/__lib__.sh
  src/security/path/query/__lib__.sh
  src/security/user/__lib__.sh
  src/security/user/assert/__lib__.sh
  src/security/user/query/__lib__.sh
  src/setting/__lib__.sh
  src/setting/state/__lib__.sh
  src/string/__lib__.sh
  src/string/assert/__lib__.sh
  src/string/colour/__lib__.sh
  src/string/lines/__lib__.sh
  src/string/query/__lib__.sh
  src/testing/__lib__.sh
  src/testing/assertion/__lib__.sh
  src/testing/capture/__lib__.sh
  src/testing/fixtures/__lib__.sh
  src/testing/mock/__lib__.sh
  src/testing/mock/internal/__lib__.sh
  src/testing/parametrize/__lib__.sh
  src/trap/__lib__.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names

build(PACKAGING): create first distribution
  dist/stdlib.sh
  dist/stdlib_testing.sh
Due: none

build(PACKAGING): modify codebase
  src/logger/tests/test_stdlib_logger_traceback.sh
  src/setting/__lib__.sh
  src/setting/colour.sh
  src/setting/state/__lib__.sh
  src/setting/state/colour_disabled.sh
  src/setting/state/colour_enabled.sh
  src/setting/state/colour_theme.sh
  src/setting/state/disabled.sh
  src/setting/state/enabled.sh
  src/setting/state/theme.sh
  src/setting/theme.sh
  src/string/colour/tests/test_stdlib_string_colour_n.sh
  src/testing/__lib__.sh
  src/testing/mock/mock.sh
  src/testing/mock/mock.snippet
  src/testing/mock/tests/mock_snippet/test_stdlib_testing_mock_snippet.sh
  src/trap/register.snippet
  src/trap/tests/register_snippet/test_stdlib_trap_register_snippet.sh
  src/trap/tests/trap/test_stdlib_trap.sh
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(SECURITY): narrow restricted mock attributes
  dist/stdlib_testing.sh
  src/testing/mock/attributes.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names

ci(GITHUB): integrate cicd-tools
  .cicd-tools/configuration/actionlint.yaml
  .cicd-tools/configuration/changelog.json
  .cicd-tools/configuration/pre-commit-bootstrap.yaml
  .github/actions/action-00-toolbox/action.yml
  .github/config/actions/github-action-markdown-link-check.json
  .github/config/schemas/workflows/workflow-push.json
  .github/config/workflows/workflow-push.json
  .github/scripts/job-50-test-precommit.sh
  .github/scripts/step-setup-environment.sh
  .github/workflows/workflow-push.yml
  .gitignore
  .markdownlint.yml
  .pre-commit-config.yaml
  .vale.ini
  .vale/Vocab/stdlib/accept.txt
  .vale/Vocab/stdlib/reject.txt
  .yamllint.yml
  poetry.lock
  pyproject.toml
Due: none

ci(GITHUB): release workflow
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
Due: none

ci(COVERAGE): enable coverage uploads
  .github/scripts/job-81-coverage-upload.sh
  .github/workflows/workflow-push.yml
  .gitignore
  .pre-commit-config.yaml
Due: none

docs(CONTRIBUTING): add contribution guide
  .vale/Vocab/stdlib/accept.txt
  CONTRIBUTING.md
Due: none

feat(GETTEXT): support translations
  .github/workflows/workflow-push.yml
  .gitignore
  .pre-commit-config.yaml
  build/build.sh
  build/package.sh
  dist/locales/en/LC_MESSAGES/stdlib.mo
  dist/locales/en/LC_MESSAGES/stdlib_testing.mo
  dist/stdlib.sh
  dist/stdlib_testing.sh
  locales/en/LC_MESSAGES/stdlib.po
  locales/en/LC_MESSAGES/stdlib_testing.po
  locales/stdlib.pot
  locales/stdlib_testing.pot
  src/__lib__.sh
  src/gettext.sh
  src/gettext.snippet
  src/message.sh
  src/testing/__lib__.sh
  src/testing/assertion/message.sh
  src/testing/gettext.sh
  src/testing/message.sh
  src/testing/mock/message.sh
  src/testing/parametrize/message.sh
  src/testing/tests/gettext/test_stdlib_testing_gettext.sh
  src/tests/gettext/test_stdlib_gettext.sh
  src/tests/gettext/test_stdlib_gettext_call.sh
  src/tests/gettext/test_stdlib_gettext_fallback.sh
  src/tests/gettext_snippet/test_stdlib_gettext_snippet.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

docs(AGENTS): add markdown file for jules
  .vale/Vocab/stdlib/accept.txt
  AGENTS.md
Due: none

build(DOCKER): add shdoc to the container
  Dockerfile
Due: none

feat(DECLARE): optimize function parsing
  build/build.sh
  dist/stdlib.sh
  dist/stdlib_testing.sh
  dist/t
  src/fn/query/is.sh
  src/testing/mock/mock.sh
  src/testing/protect.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names

feat(SECURITY): protect against builtin overrides
  .pre-commit-config.yaml
  build/build.sh
  dist/stdlib.sh
  src/__lib__.sh
  src/security/shell/shell.snippet
  src/security/shell/tests/shell_snippet/test_stdlib_security_shell_snippet_assert_is_safe.sh
  src/security/shell/tests/shell_snippet/test_stdlib_security_shell_snippet_query_is_safe.sh
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(MOCK): ensure declare usage is protected
  dist/stdlib_testing.sh
  locales/en/LC_MESSAGES/stdlib_testing.po
  locales/stdlib_testing.pot
  src/testing/mock/components/assertion.sh
  src/testing/mock/components/controller.sh
  src/testing/mock/components/getter.sh
  src/testing/mock/components/setter.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_any_call_is.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_call_n_is.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_called_once_with.sh
  src/testing/mock/components/tests/assertion/test_stdlib_testing_mock_object_assert_calls_are.sh
  src/testing/mock/components/tests/getter/test_stdlib_testing_mock_object_get_call.sh
  src/testing/mock/components/tests/getter/test_stdlib_testing_mock_object_get_calls.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_side_effect_queue.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_side_effects.sh
  src/testing/mock/internal/security/__lib__.sh
  src/testing/mock/internal/security/assert/__lib__.sh
  src/testing/mock/internal/security/assert/is.sh
  src/testing/mock/internal/security/assert/tests/is/test_stdlib_testing_mock_internal_security_assert_is_builtin.sh
  src/testing/mock/message.sh
  src/testing/mock/tests/message/test_stdlib_testing_mock_message_get.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(MOCK): validate keyword names
  dist/stdlib.sh
  dist/stdlib_testing.sh
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/__lib__.sh
  src/message.sh
  src/testing/mock/components/setter.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_keywords.sh
  src/testing/protect.sh
  src/testing/tests/protect/test_stdlib_testing_protected_name.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/__lib__.sh
  src/var/assert/__lib__.sh
  src/var/assert/is.sh
  src/var/assert/tests/is/test_stdlib_var_assert_is_valid_name.sh
  src/var/query/__lib__.sh
  src/var/query/is.sh
  src/var/query/tests/is/test_stdlib_var_query_is_valid_name.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(FN): add builtin queries and assertions
  dist/stdlib.sh
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/fn/assert/is.sh
  src/fn/assert/not.sh
  src/fn/assert/tests/is/test_stdlib_fn_assert_is_builtin.sh
  src/fn/assert/tests/not/test_fn_assert_not_builtin.sh
  src/fn/query/is.sh
  src/fn/query/tests/is/test_stdlib_fn_query_is_builtin.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

refactor(MOCK): simplify compilation
  src/testing/mock/components/assertion.sh
  src/testing/mock/components/call.sh
  src/testing/mock/components/controller.sh
  src/testing/mock/components/defaults.sh
  src/testing/mock/components/getter.sh
  src/testing/mock/components/main.sh
  src/testing/mock/components/setter.sh
  src/testing/mock/internal/compile.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names

docs(REFERENCE): enable building of reference
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
  .vale.ini
  .vale/Vocab/stdlib/accept.txt
  Dockerfile
  REFERENCE.md
  build/docs.sh
  dist/stdlib_testing.sh
Due: none

feat(ASSERTIONS): add negative assertion for functions
  src/testing/assertion/fn.sh
  src/testing/assertion/tests/fn/test_stdlib_testing_assert_not_fn.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

docs(SHDOC): tighten global variable rules
  CONTRIBUTING.md
  src/builtin.sh
  src/fn/args.sh
  src/fn/derive/pipeable.sh
  src/io/stdin.sh
  src/logger/logger.sh
  src/setting/colour.sh
  src/string/lines/join.sh
  src/string/lines/map.sh
  src/string/wrap.sh
  tools/documentation_check.py
  tools/tests/assets/invalid_description.sh
  tools/tests/test_documentation_check.py
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-binaries, test-files-headers, test-files-imports

feat(BOOTSTRAP): simplify process
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
  build/build.sh
  build/t
  dist/stdlib.sh
  src/__lib__.sh
  src/deferred.sh
  src/tests/deferred/test_stdlib_deferred_defer.sh
  src/tests/deferred/test_stdlib_deferred_execute.sh
  src/tests/deferred/test_stdlib_deferred_initialize.sh
  src/trap/register.snippet
  src/trap/tests/register_snippet/test_stdlib_trap_register_snippet.sh
  src/trap/tests/trap/test_stdlib_trap.sh
  src/trap/tests/trap/test_stdlib_trap_register_default_handlers.sh
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

docs(TRAP): add stub functions
  REFERENCE.md
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords

refactor(FN): standardize fn names
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
  dist/stdlib.sh
  src/setting/colour.sh
  src/setting/tests/colour/test_stdlib_setting_colour_enable.sh
  src/setting/tests/colour/test_stdlib_setting_colour_enable_generate_error_message.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports
