Repository niall-byrne/stdlib: changes, and which pre-commit hooks are due for each by the changed paths.
All: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-binaries, test-files-headers, test-files-imports

Path conditions:
  documentation-build: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  documentation-source-files: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh|src/testing/.+\.sh)$
  snippet-files-headers: any of: ^src/.+\.snippet$
  source-files-binaries: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-headers: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-keywords: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-testing-folder-function-names: any of: ^src/testing/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-testing-folder-global-variable-names: any of: ^src/testing/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  test-files-binaries: any of: ^((.+/)*tests/.+\.sh)$, but not: ^.*/test_.+\.sh$
  test-files-headers: any of: ^((.+/)*tests/.+\.sh)$
  test-files-imports: any of: ^((.+/)*tests/.+\.sh)$

build(PACKAGING): make builtin overrides optional
  .pre-commit-config.yaml
  build/distribution_test.sh
  build/package.sh
  dist/stdlib.sh
  src/builtin.sh
  src/tests/builtin/test_stdlib_builtin_overridable.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

refactor(FN): standardize fn names
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
  dist/stdlib.sh
  src/setting/colour.sh
  src/setting/tests/colour/test_stdlib_setting_colour_enable.sh
  src/setting/tests/colour/test_stdlib_setting_colour_enable_generate_error_message.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

docs(SHDOC): tighten global variable rules
  CONTRIBUTING.md
  src/builtin.sh
  src/fn/args.sh
  src/fn/derive/pipeable.sh
  src/io/stdin.sh
  src/logger/logger.sh
  src/setting/colour.sh
  src/string/lines/join.sh
  src/string/lines/map.sh
  src/string/wrap.sh
  tools/documentation_check.py
  tools/tests/assets/invalid_description.sh
  tools/tests/test_documentation_check.py
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-binaries, test-files-headers, test-files-imports

refactor(TRAP): rename cleanup function
  .vale/Vocab/stdlib/accept.txt
  REFERENCE.md
  dist/stdlib.sh
  src/trap/create.sh
  src/trap/tests/create/test_stdlib_trap_create_cleanup_fn.sh
  src/trap/tests/trap/test_stdlib_trap_register_default_handlers.sh
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

docs(REFERENCE): enable building of reference
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
  .vale.ini
  .vale/Vocab/stdlib/accept.txt
  Dockerfile
  REFERENCE.md
  build/docs.sh
  dist/stdlib_testing.sh
Due: none

docs(TRAP): add stub functions
  REFERENCE.md
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords

ci(GITHUB): support latest shellcheck
  .github/scripts/job-50-test-precommit.sh
Due: none

feat(BOOTSTRAP): simplify process
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
  build/build.sh
  build/t
  dist/stdlib.sh
  src/__lib__.sh
  src/deferred.sh
  src/tests/deferred/test_stdlib_deferred_defer.sh
  src/tests/deferred/test_stdlib_deferred_execute.sh
  src/tests/deferred/test_stdlib_deferred_initialize.sh
  src/trap/register.snippet
  src/trap/tests/register_snippet/test_stdlib_trap_register_snippet.sh
  src/trap/tests/trap/test_stdlib_trap.sh
  src/trap/tests/trap/test_stdlib_trap_register_default_handlers.sh
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

docs(SPHINX): translatable documentation
  .cicd-tools/configuration/pre-commit-bootstrap.yaml
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yml
  .vale/Vocab/stdlib/accept.txt
  README.md
  docs/Makefile
  docs/conf.py
  docs/conf/__init__.py
  docs/conf/general.py
  docs/conf/html.py
  docs/conf/markdown.py
  docs/conf/myst.py
  docs/conf/symlinks.py
  docs/embeds/container_script.md
  docs/embeds/customized_t_script.md
  docs/embeds/distribution_t_script.md
  docs/index.md
  docs/integration_guide.md
  docs/locales/en/LC_MESSAGES/embeds.po
  docs/locales/en/LC_MESSAGES/index.po
  docs/locales/en/LC_MESSAGES/integration_guide.po
  docs/locales/en/LC_MESSAGES/reference.po
  docs/locales/en/LC_MESSAGES/reference_testing.po
  docs/make.bat
  poetry.lock
  pyproject.toml
Due: none

feat(FN): stricter variable name validation
  dist/stdlib.sh
  src/fn/derive/tests/var/test_stdlib_fn_derive_var.sh
  src/fn/derive/var.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(VAR): add query/assertion to validate vars
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/REFERENCE.md
  src/var/assert/is.sh
  src/var/assert/tests/is/test_stdlib_var_assert_is_valid_with.sh
  src/var/query/is.sh
  src/var/query/tests/is/test_stdlib_var_query_is_valid_with.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(IO): concurrency control
  dist/stdlib.sh
  dist/t
  docs/locales/en/LC_MESSAGES/reference.po
  docs/locales/en/LC_MESSAGES/reference_testing.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/binary.sh
  src/io/REFERENCE.md
  src/io/__lib__.sh
  src/io/lock.sh
  src/io/tests/lock/test_stdlib_io_lock_acquire.sh
  src/io/tests/lock/test_stdlib_io_lock_integration.sh
  src/io/tests/lock/test_stdlib_io_lock_release.sh
  src/io/tests/lock/test_stdlib_io_lock_with.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_allocate.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_cleanup.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(STRING): add query/assertion for not empty
  .vale/Vocab/stdlib/accept.txt
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/string/REFERENCE.md
  src/string/assert/not.sh
  src/string/assert/tests/not/test_stdlib_string_assert_not_empty.sh
  src/string/query/__lib__.sh
  src/string/query/not.sh
  src/string/query/tests/not/test_stdlib_string_query_not_empty.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(STRING): functions to validate ip addresses
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/string/REFERENCE.md
  src/string/assert/__lib__.sh
  src/string/assert/net/__lib__.sh
  src/string/assert/net/is.sh
  src/string/assert/net/tests/is/test_stdlib_string_assert_net_is_ipv4.sh
  src/string/assert/net/tests/is/test_stdlib_string_assert_net_is_ipv6.sh
  src/string/query/__lib__.sh
  src/string/query/net/__lib__.sh
  src/string/query/net/is.sh
  src/string/query/net/tests/is/test_stdlib_string_query_net_is_ipv4.sh
  src/string/query/net/tests/is/test_stdlib_string_query_net_is_ipv6.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(VAR): add query/assertion for empty vars
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/REFERENCE.md
  src/var/assert/is.sh
  src/var/assert/tests/is/test_stdlib_var_assert_is_empty.sh
  src/var/query/is.sh
  src/var/query/tests/is/test_stdlib_var_query_is_empty.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

test(COVERAGE): collect from testing folder
  dist/collect_coverage
  dist/stdlib_testing.sh
  docs/locales/en/LC_MESSAGES/reference_testing.po
  src/testing/assertion/array.sh
  src/testing/mock/REFERENCE_MOCK_OBJECT.md
  src/testing/mock/arg_string/make.sh
  src/testing/mock/attributes.sh
  src/testing/mock/components/setter.sh
  src/testing/mock/internal/compile.sh
  src/testing/parametrize/apply.sh
  src/testing/parametrize/internal/configuration.sh
  src/testing/parametrize/internal/create.sh
  src/testing/parametrize/internal/validate.sh
  src/testing/parametrize/parametrize.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names

feat(TESTING): add array contains assertion
  dist/stdlib_testing.sh
  docs/locales/en/LC_MESSAGES/reference_testing.po
  src/testing/REFERENCE_COMPLETE.md
  src/testing/assertion/REFERENCE.md
  src/testing/assertion/array.sh
  src/testing/assertion/tests/array/test_stdlib_testing_assert_is_array_containing.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(TESTING): error logging assertion
  .vale/Vocab/stdlib/accept.txt
  dist/stdlib_testing.sh
  docs/locales/en/LC_MESSAGES/reference_testing.po
  src/testing/REFERENCE_COMPLETE.md
  src/testing/assertion/REFERENCE.md
  src/testing/assertion/__lib__.sh
  src/testing/assertion/logger.sh
  src/testing/assertion/tests/logger/test_stdlib_logger_error_matches.sh
  src/testing/assertion/tests/logger/test_stdlib_logger_info_matches.sh
  src/testing/assertion/tests/logger/test_stdlib_logger_notice_matches.sh
  src/testing/assertion/tests/logger/test_stdlib_logger_success_matches.sh
  src/testing/assertion/tests/logger/test_stdlib_logger_warning_matches.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(ARRAY): stricter array name validation
  dist/stdlib.sh
  src/array/assert/tests/not/test_array_assert_not_array.sh
  src/array/query/is.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(STRING): arg joining functions
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  src/REFERENCE_COMPLETE.md
  src/string/REFERENCE.md
  src/string/__lib__.sh
  src/string/args/__lib__.sh
  src/string/args/join.sh
  src/string/args/tests/test_stdlib_string_args_join.sh
  src/string/args/tests/test_stdlib_string_args_join_pipe.sh
  src/string/args/tests/test_stdlib_string_args_join_var.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(TESTING): concurrent mock sequence tracking
  dist/stdlib_testing.sh
  src/testing/mock/components/call.sh
  src/testing/mock/components/tests/call/test_stdlib_testing_mock_object_call_locking.sh
  src/testing/mock/internal/persistence/sequence.sh
  src/testing/mock/tests/mock/test_stdlib_testing_mock_call_concurrency.sh
  src/testing/mock/tests/sequence/test_stdlib_testing_mock_sequence_record_concurrency.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

refactor(STRING): rename is string to is empty
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/string/REFERENCE.md
  src/string/assert/is.sh
  src/string/assert/tests/is/test_stdlib_string_assert_is_empty.sh
  src/string/assert/tests/is/test_stdlib_string_assert_is_string.sh
  src/string/query/is.sh
  src/string/query/tests/is/test_stdlib_string_query_is_empty.sh
  src/string/query/tests/is/test_stdlib_string_query_is_string.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(TESTING): mock assertion
  .vale/Vocab/stdlib/accept.txt
  dist/stdlib_testing.sh
  docs/locales/en/LC_MESSAGES/reference_testing.po
  locales/en/LC_MESSAGES/stdlib_testing.po
  locales/stdlib_testing.pot
  src/testing/REFERENCE_COMPLETE.md
  src/testing/assertion/REFERENCE.md
  src/testing/assertion/__lib__.sh
  src/testing/assertion/message.sh
  src/testing/assertion/mock.sh
  src/testing/assertion/tests/message/test_stdlib_testing_message_get.sh
  src/testing/assertion/tests/mock/test_stdlib_testing_assert_is_mock.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(VAR): add query/assertion for set vars
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/REFERENCE.md
  src/var/assert/is.sh
  src/var/assert/tests/is/test_stdlib_var_assert_is_set.sh
  src/var/query/is.sh
  src/var/query/tests/is/test_stdlib_var_query_is_set.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(FN): allow disabling null args check
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  src/REFERENCE_COMPLETE.md
  src/fn/REFERENCE.md
  src/fn/args.sh
  src/fn/tests/args/test_stdlib_fn_args_require.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(IO): add query/assertion for empty file
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  docs/locales/en/LC_MESSAGES/reference_testing.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/io/REFERENCE.md
  src/io/path/assert/is.sh
  src/io/path/assert/tests/is/test_io_path_assert_is_file_empty.sh
  src/io/path/query/is.sh
  src/io/path/query/tests/is/test_io_path_query_is_file_empty.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(VAR): add assertion to validate reserved vars
  dist/stdlib.sh
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/__lib__.sh
  src/var/reserved/__lib__.sh
  src/var/reserved/assert/__lib__.sh
  src/var/reserved/assert/is.sh
  src/var/reserved/assert/tests/is/test_stdlib_var_reserved_assert_is_valid_with.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(VAR): add assertion to validate global vars
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/REFERENCE.md
  src/var/__lib__.sh
  src/var/global/__lib__.sh
  src/var/global/assert/__lib__.sh
  src/var/global/assert/is.sh
  src/var/global/assert/tests/is/test_stdlib_var_global_assert_is_valid_with.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(FN): add query/assertion to validate keywords
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/fn/REFERENCE.md
  src/fn/__lib__.sh
  src/fn/keyword/__lib__.sh
  src/fn/keyword/assert/__lib__.sh
  src/fn/keyword/assert/is.sh
  src/fn/keyword/assert/tests/is/test_stdlib_fn_keyword_assert_is_valid_with.sh
  src/fn/keyword/query/__lib__.sh
  src/fn/keyword/query/is.sh
  src/fn/keyword/query/tests/is/test_stdlib_fn_keyword_query_is_valid_with.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(FN): add derive assertion function
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/fn/REFERENCE.md
  src/fn/derive/__lib__.sh
  src/fn/derive/assertion.sh
  src/fn/derive/tests/assertion/test_stdlib_fn_derive_assertion.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(FN): add validation to stdlib.fn.derive.var
  dist/stdlib.sh
  src/fn/derive/tests/var/test_stdlib_fn_derive_var.sh
  src/fn/derive/var.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(TOOLS): tag/modifier ordering rules in doc check
  tools/documentation_check.py
  tools/tests/assets/documentation/interleaved_tags.sh
  tools/tests/assets/documentation/sort_exitcodes.sh
  tools/tests/assets/documentation/sort_modifier_vars.sh
  tools/tests/assets/documentation/sort_set_tags.sh
  tools/tests/documentation_check/test_validation_rules.py
Due: test-files-binaries, test-files-headers, test-files-imports

feat(TOOLS): add more exit codes to doc check
  tools/documentation_check.py
  tools/tests/assets/documentation/non_standard_exitcodes.sh
  tools/tests/test_documentation_check.py
Due: test-files-binaries, test-files-headers, test-files-imports

feat(TOOLS): global var usage rule in doc check
  tools/documentation_check.py
  tools/tests/assets/documentation/global_variable_usage.sh
  tools/tests/test_documentation_check.py
Due: test-files-binaries, test-files-headers, test-files-imports

refactor(TOOLS): use modifier variable terminology
  tools/documentation_check.py
  tools/tests/assets/documentation/invalid_description.sh
  tools/tests/assets/documentation/modifier_var_validation.sh
  tools/tests/assets/documentation/modifier_variable_usage.sh
  tools/tests/assets/documentation/valid.sh
  tools/tests/test_documentation_check.py
Due: test-files-binaries, test-files-headers, test-files-imports

feat(TOOLS): modifier var consistency rule in doc check
  tools/documentation_check.py
  tools/tests/assets/documentation/invalid_description.sh
  tools/tests/assets/documentation/modifier_var_validation.sh
  tools/tests/assets/documentation/modifier_variable_usage.sh
  tools/tests/assets/documentation/valid.sh
  tools/tests/assets/documentation_modifier_variable_check/file1.sh
  tools/tests/assets/documentation_modifier_variable_check/file2.sh
  tools/tests/assets/documentation_modifier_variable_check/file3.sh
  tools/tests/assets/documentation_modifier_variable_check/file4.sh
  tools/tests/assets/documentation_modifier_variable_check/file5.sh
  tools/tests/assets/documentation_modifier_variable_check/file6.sh
  tools/tests/documentation_check/test_derive_rules.py
  tools/tests/documentation_check/test_main.py
  tools/tests/documentation_check/test_modifier_variable_consistency.py
  tools/tests/documentation_check/test_parsing.py
  tools/tests/documentation_check/test_validation_rules.py
  tools/tests/test_documentation_check.py
Due: test-files-binaries, test-files-headers, test-files-imports

feat(FN): modifier variable validation
  dist/stdlib.sh
  src/REFERENCE_COMPLETE.md
  src/fn/REFERENCE.md
  src/fn/args.sh
  src/fn/derive/pipeable.sh
  src/fn/keyword/assert/is.sh
  src/fn/keyword/query/is.sh
  src/fn/tests/args/test_stdlib_fn_args_require.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(LOGGER): modifier variable validation
  src/logger/logger.sh
  src/logger/tests/test_stdlib_logger_error.sh
  src/logger/tests/test_stdlib_logger_info.sh
  src/logger/tests/test_stdlib_logger_notice.sh
  src/logger/tests/test_stdlib_logger_success.sh
  src/logger/tests/test_stdlib_logger_warning.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(IO): global variable validation
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/io/REFERENCE.md
  src/io/lock.sh
  src/io/stdin.sh
  src/io/tests/lock/test_stdlib_io_lock_acquire.sh
  src/io/tests/lock/test_stdlib_io_lock_release.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_allocate.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_cleanup.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_is_valid.sh
  src/io/tests/stdin/test_stdlib_io_stdin_prompt.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports
