Repository niall-byrne/stdlib: changes, and which pre-commit hooks are due for each by the changed paths.
All: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-binaries, test-files-headers, test-files-imports

Path conditions:
  documentation-build: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  documentation-source-files: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh|src/testing/.+\.sh)$
  snippet-files-headers: any of: ^src/.+\.snippet$
  source-files-binaries: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-headers: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-keywords: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-testing-folder-function-names: any of: ^src/testing/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-testing-folder-global-variable-names: any of: ^src/testing/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  test-files-binaries: any of: ^((.+/)*tests/.+\.sh)$, but not: ^.*/test_.+\.sh$
  test-files-headers: any of: ^((.+/)*tests/.+\.sh)$
  test-files-imports: any of: ^((.+/)*tests/.+\.sh)$

feat(FN): global variable validation
  dist/stdlib.sh
  src/fn/args.sh
  src/fn/derive/pipeable.sh
  src/fn/tests/args/test_stdlib_fn_args_require.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(VAR): add query/assertion to validate vars
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/REFERENCE.md
  src/var/assert/is.sh
  src/var/assert/tests/test_stdlib_var_assert_is_valid_with.sh
  src/var/query/is.sh
  src/var/query/tests/test_stdlib_var_query_is_valid_with.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

tentative allow manual validation
  tools/documentation_check.py
  tools/tests/assets/documentation/global_var_validation.sh
  tools/tests/test_documentation_check.py
Due: test-files-binaries, test-files-headers, test-files-imports

feat(LOGGER): global variable validation
  src/logger/logger.sh
  src/logger/tests/test_stdlib_logger_error.sh
  src/logger/tests/test_stdlib_logger_info.sh
  src/logger/tests/test_stdlib_logger_notice.sh
  src/logger/tests/test_stdlib_logger_success.sh
  src/logger/tests/test_stdlib_logger_warning.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(FN): add validation to stdlib.fn.derive.var
  dist/stdlib.sh
  src/fn/derive/tests/var/test_stdlib_fn_derive_var.sh
  src/fn/derive/var.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(IO): global variable validation
  dist/stdlib.sh
  src/io/lock.sh
  src/io/stdin.sh
  src/io/tests/lock/test_stdlib_io_lock_acquire.sh
  src/io/tests/lock/test_stdlib_io_lock_release.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_allocate.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_cleanup.sh
  src/io/tests/stdin/test_stdlib_io_stdin_prompt.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(SETTING): global variable validation
  dist/stdlib.sh
  src/setting/colour.sh
  src/setting/tests/colour/test_stdlib_setting_colour_enable.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(STRING): sensible colour selection fallback
  dist/stdlib.sh
  src/setting/tests/theme/test_stdlib_setting_theme_get_colour.sh
  src/setting/theme.sh
  src/string/colour/tests/test_stdlib_string_colour_n.sh
  src/string/colour/tests/test_stdlib_string_colour_substring.sh
  src/string/colour/tests/test_stdlib_string_colour_substrings.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

test(HOST): allow test execution without docker
  AGENTS.md
  Dockerfile
  host.sh
Due: none

feat(BINARIES): lock down additional consumed binaries
  .pre-commit-config.yaml
  dist/stdlib.sh
  src/binary.sh
  src/message.sh
  src/security/path/make.sh
  src/security/path/query/has.sh
  src/security/path/query/tests/has/test_stdlib_security_path_query_has_group.sh
  src/security/path/query/tests/has/test_stdlib_security_path_query_has_owner.sh
  src/security/path/query/tests/has/test_stdlib_security_path_query_has_permissions.sh
  src/security/path/secure.sh
  src/security/path/tests/make/test_stdlib_security_path_make_dir.sh
  src/security/path/tests/make/test_stdlib_security_path_make_file.sh
  src/security/path/tests/secure/test_stdlib_security_path_secure.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

internal global validation
  src/message.sh
  src/var/assert/is.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords

feat(IO): concurrency control
  dist/stdlib.sh
  dist/t
  docs/locales/en/LC_MESSAGES/reference.po
  docs/locales/en/LC_MESSAGES/reference_testing.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/binary.sh
  src/io/REFERENCE.md
  src/io/__lib__.sh
  src/io/lock.sh
  src/io/tests/lock/test_stdlib_io_lock_acquire.sh
  src/io/tests/lock/test_stdlib_io_lock_integration.sh
  src/io/tests/lock/test_stdlib_io_lock_release.sh
  src/io/tests/lock/test_stdlib_io_lock_with.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_allocate.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_cleanup.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(VAR): add query/assertion for set vars
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/REFERENCE.md
  src/var/assert/is.sh
  src/var/assert/tests/test_stdlib_var_assert_is_set.sh
  src/var/query/is.sh
  src/var/query/tests/test_stdlib_var_query_is_set.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(TESTING): concurrent mock sequence tracking
  dist/stdlib_testing.sh
  src/testing/mock/components/call.sh
  src/testing/mock/components/tests/call/test_stdlib_testing_mock_object_call_locking.sh
  src/testing/mock/internal/persistence/sequence.sh
  src/testing/mock/tests/mock/test_stdlib_testing_mock_call_concurrency.sh
  src/testing/mock/tests/sequence/test_stdlib_testing_mock_sequence_record_concurrency.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

test(COVERAGE): collect from testing folder
  dist/collect_coverage
  dist/stdlib_testing.sh
  docs/locales/en/LC_MESSAGES/reference_testing.po
  src/testing/assertion/array.sh
  src/testing/mock/REFERENCE_MOCK_OBJECT.md
  src/testing/mock/arg_string/make.sh
  src/testing/mock/attributes.sh
  src/testing/mock/components/setter.sh
  src/testing/mock/internal/compile.sh
  src/testing/parametrize/apply.sh
  src/testing/parametrize/internal/configuration.sh
  src/testing/parametrize/internal/create.sh
  src/testing/parametrize/internal/validate.sh
  src/testing/parametrize/parametrize.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names

WIP: expose controls to manage lock file permissions
  src/io/lock.sh
  src/io/tests/lock/test_stdlib_io_lock_acquire.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_allocate.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

Add robust test suite for binary_check tool (#24)
  tools/tests/assets/binary_check/mock.sh
  tools/tests/test_binary_check.py
Due: test-files-binaries, test-files-headers, test-files-imports

feat(MOCK): validate keyword names
  dist/stdlib.sh
  dist/stdlib_testing.sh
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/__lib__.sh
  src/message.sh
  src/testing/mock/components/setter.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_keywords.sh
  src/testing/protect.sh
  src/testing/tests/protect/test_stdlib_testing_protected_name.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/__lib__.sh
  src/var/assert/__lib__.sh
  src/var/assert/is.sh
  src/var/assert/tests/is/test_stdlib_var_assert_is_valid_name.sh
  src/var/query/__lib__.sh
  src/var/query/is.sh
  src/var/query/tests/is/test_stdlib_var_query_is_valid_name.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

docs(SHDOC): tighten global variable rules
  CONTRIBUTING.md
  src/builtin.sh
  src/fn/args.sh
  src/fn/derive/pipeable.sh
  src/io/stdin.sh
  src/logger/logger.sh
  src/setting/colour.sh
  src/string/lines/join.sh
  src/string/lines/map.sh
  src/string/wrap.sh
  tools/documentation_check.py
  tools/tests/assets/invalid_description.sh
  tools/tests/test_documentation_check.py
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-binaries, test-files-headers, test-files-imports

feat(ASSERTIONS): add negative assertion for functions
  src/testing/assertion/fn.sh
  src/testing/assertion/tests/fn/test_stdlib_testing_assert_not_fn.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

docs(TRAP): add stub functions
  REFERENCE.md
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords

feat(BOOTSTRAP): simplify process
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
  REFERENCE.md
  build/build.sh
  build/t
  dist/stdlib.sh
  src/__lib__.sh
  src/deferred.sh
  src/tests/deferred/test_stdlib_deferred_defer.sh
  src/tests/deferred/test_stdlib_deferred_execute.sh
  src/tests/deferred/test_stdlib_deferred_initialize.sh
  src/trap/register.snippet
  src/trap/tests/register_snippet/test_stdlib_trap_register_snippet.sh
  src/trap/tests/trap/test_stdlib_trap.sh
  src/trap/tests/trap/test_stdlib_trap_register_default_handlers.sh
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

docs(REFERENCE): enable building of reference
  .github/workflows/workflow-push.yml
  .pre-commit-config.yaml
  .vale.ini
  .vale/Vocab/stdlib/accept.txt
  Dockerfile
  REFERENCE.md
  build/docs.sh
  dist/stdlib_testing.sh
Due: none

refactor(MOCK): simplify compilation
  src/testing/mock/components/assertion.sh
  src/testing/mock/components/call.sh
  src/testing/mock/components/controller.sh
  src/testing/mock/components/defaults.sh
  src/testing/mock/components/getter.sh
  src/testing/mock/components/main.sh
  src/testing/mock/components/setter.sh
  src/testing/mock/internal/compile.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names

feat(TESTING): add array contains assertion
  dist/stdlib_testing.sh
  docs/locales/en/LC_MESSAGES/reference_testing.po
  src/testing/REFERENCE_COMPLETE.md
  src/testing/assertion/REFERENCE.md
  src/testing/assertion/array.sh
  src/testing/assertion/tests/array/test_stdlib_testing_assert_is_array_containing.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

build(PACKAGING): make builtin overrides optional
  .pre-commit-config.yaml
  build/distribution_test.sh
  build/package.sh
  dist/stdlib.sh
  src/builtin.sh
  src/tests/builtin/test_stdlib_builtin_overridable.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(STRING): functions to validate snake case
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/string/REFERENCE.md
  src/string/assert/is.sh
  src/string/assert/tests/is/test_stdlib_string_assert_is_snake_case.sh
  src/string/assert/tests/is/test_stdlib_string_assert_is_snake_case_upper.sh
  src/string/query/is.sh
  src/string/query/tests/is/test_stdlib_string_query_is_snake_case.sh
  src/string/query/tests/is/test_stdlib_string_query_is_snake_case_upper.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports
