Repository niall-byrne/stdlib: changes, and which pre-commit hooks are due for each by the changed paths.
All: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-binaries, test-files-headers, test-files-imports

documentation-build:
  name: build documentation using shdoc
  entry: bash -c "TEST_CONTAINER_DISABLE_TTY=1 ./container.sh run build/docs.sh REFERENCE.md"
  language: system
  pass_filenames: false
  require_serial: true

documentation-source-files:
  name: ensure source functions are correctly documented
  entry: python tools/documentation_check.py
  language: system
  pass_filenames: true
  require_serial: true

snippet-files-headers:
  name: ensure snippet files have correct headers
  entry: '\A(?!#!/bin/bash
  
    ).+\Z'
  args:
  - --multiline
  language: pygrep

source-files-binaries:
  name: ensure source files don't directly reference restricted binary commands
  entry: ^(?!.*\# noqa\s*$|^\s*#.*$).*((?<=\s|\()|(?<=^))(cat|cut|grep|head|mktemp|rm|sed|sort|tail|tput|tr)((\s|\)).*$|$)
  language: pygrep

source-files-headers:
  name: ensure source files have correct headers
  entry: '\A(?!#!/bin/bash
  
    (# shellcheck disable=.+
  
    ){0,1}
  
    # stdlib.+
  
    builtin set -eo pipefail
  
    ).+\Z'
  args:
  - --multiline
  language: pygrep

source-files-keywords:
  name: ensure source files use builtins prefaced with the 'builtin' command
  ...

source-files-testing-folder-function-names:
  name: ensure source files in the testing folder use the correct function names
  entry: ^(?!.*\# noqa\s*$|^\s*#.*$)(?!((assert_|_capture\.)[a-z_]+)|((__)*\$\{1\}|@parametrize)|((?!.+\._[^_].+)((__)*\$\{1\}|_testing|_mock|@parametrize))\.[a-z_.]+).*\(\) {$
  language: pygrep

source-files-testing-folder-global-variable-names:
  name: ensure source files in the testing folder use the correct global variable names for booleans
  entry: ^(?!.*\# noqa\s*$|^\s*#.*$)\s*([A-Z_]+)(?<!_BOOLEAN)=("[01]"|[01])$
  language: pygrep

test-files-binaries:
  name: ensure test files don't directly reference restricted binary commands
  entry: ^(?!.*\# noqa\s*$|^\s*#.*$).*((?<=\s|\()|(?<=^))(cat|cut|grep|head|mktemp|rm|sed|sort|tail|tput|tr)((\s|\)).*$|$)
  language: pygrep

test-files-headers:
  name: ensure test files have correct headers
  entry: '\A(?!#!/bin/bash
  
    ).+\Z'
  args:
  - --multiline
  language: pygrep

test-files-imports:
  name: ensure test files do not use the source keyword for imports
  entry: '\A#!/bin/bash
  
    .+((^ *|^ +|; *|\| *|\& *)(source |\. )(".+?"|\S+) *(;*)$)+.+\Z'
  args:
  - --multiline
  language: pygrep

feat(STRING): functions to validate ip addresses
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/string/REFERENCE.md
  src/string/assert/__lib__.sh
  src/string/assert/net/__lib__.sh
  src/string/assert/net/is.sh
  src/string/assert/net/tests/is/test_stdlib_string_assert_net_is_ipv4.sh
  src/string/assert/net/tests/is/test_stdlib_string_assert_net_is_ipv6.sh
  src/string/query/__lib__.sh
  src/string/query/net/__lib__.sh
  src/string/query/net/is.sh
  src/string/query/net/tests/is/test_stdlib_string_query_net_is_ipv4.sh
  src/string/query/net/tests/is/test_stdlib_string_query_net_is_ipv6.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

ci(GITHUB): support latest shellcheck
  .github/scripts/job-50-test-precommit.sh
Due: none

feat(STRING): functions to validate snake case
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/string/REFERENCE.md
  src/string/assert/is.sh
  src/string/assert/tests/is/test_stdlib_string_assert_is_snake_case.sh
  src/string/assert/tests/is/test_stdlib_string_assert_is_snake_case_upper.sh
  src/string/query/is.sh
  src/string/query/tests/is/test_stdlib_string_query_is_snake_case.sh
  src/string/query/tests/is/test_stdlib_string_query_is_snake_case_upper.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(IO): concurrency control
  dist/stdlib.sh
  dist/t
  docs/locales/en/LC_MESSAGES/reference.po
  docs/locales/en/LC_MESSAGES/reference_testing.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/binary.sh
  src/io/REFERENCE.md
  src/io/__lib__.sh
  src/io/lock.sh
  src/io/tests/lock/test_stdlib_io_lock_acquire.sh
  src/io/tests/lock/test_stdlib_io_lock_integration.sh
  src/io/tests/lock/test_stdlib_io_lock_release.sh
  src/io/tests/lock/test_stdlib_io_lock_with.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_allocate.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_cleanup.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(STRING): functions to validate decimals
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/string/REFERENCE.md
  src/string/assert/is.sh
  src/string/assert/tests/is/test_stdlib_string_assert_is_decimal.sh
  src/string/assert/tests/is/test_stdlib_string_assert_is_decimal_positive.sh
  src/string/query/is.sh
  src/string/query/tests/is/test_stdlib_string_query_is_decimal.sh
  src/string/query/tests/is/test_stdlib_string_query_is_decimal_positive.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

refactor(STRING): rename is string to is empty
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/string/REFERENCE.md
  src/string/assert/is.sh
  src/string/assert/tests/is/test_stdlib_string_assert_is_empty.sh
  src/string/assert/tests/is/test_stdlib_string_assert_is_string.sh
  src/string/query/is.sh
  src/string/query/tests/is/test_stdlib_string_query_is_empty.sh
  src/string/query/tests/is/test_stdlib_string_query_is_string.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

build(PACKAGING): make builtin overrides optional
  .pre-commit-config.yaml
  build/distribution_test.sh
  build/package.sh
  dist/stdlib.sh
  src/builtin.sh
  src/tests/builtin/test_stdlib_builtin_overridable.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(FN): add derive assertion function
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/fn/REFERENCE.md
  src/fn/derive/__lib__.sh
  src/fn/derive/assertion.sh
  src/fn/derive/tests/assertion/test_stdlib_fn_derive_assertion.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(FN): add validation to stdlib.fn.derive.var
  dist/stdlib.sh
  src/fn/derive/tests/var/test_stdlib_fn_derive_var.sh
  src/fn/derive/var.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(VAR): add query/assertion for empty vars
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/REFERENCE.md
  src/var/assert/is.sh
  src/var/assert/tests/is/test_stdlib_var_assert_is_empty.sh
  src/var/query/is.sh
  src/var/query/tests/is/test_stdlib_var_query_is_empty.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(VAR): add query/assertion for set vars
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/REFERENCE.md
  src/var/assert/is.sh
  src/var/assert/tests/is/test_stdlib_var_assert_is_set.sh
  src/var/query/is.sh
  src/var/query/tests/is/test_stdlib_var_query_is_set.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(TOOLS): add more exit codes to doc check
  tools/documentation_check.py
  tools/tests/assets/documentation/non_standard_exitcodes.sh
  tools/tests/test_documentation_check.py
Due: test-files-binaries, test-files-headers, test-files-imports

feat(STRING): arg joining functions
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  src/REFERENCE_COMPLETE.md
  src/string/REFERENCE.md
  src/string/__lib__.sh
  src/string/args/__lib__.sh
  src/string/args/join.sh
  src/string/args/tests/test_stdlib_string_args_join.sh
  src/string/args/tests/test_stdlib_string_args_join_pipe.sh
  src/string/args/tests/test_stdlib_string_args_join_var.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(VAR): add query/assertion to validate vars
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/REFERENCE.md
  src/var/assert/is.sh
  src/var/assert/tests/is/test_stdlib_var_assert_is_valid_with.sh
  src/var/query/is.sh
  src/var/query/tests/is/test_stdlib_var_query_is_valid_with.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(TOOLS): global var usage rule in doc check
  tools/documentation_check.py
  tools/tests/assets/documentation/global_variable_usage.sh
  tools/tests/test_documentation_check.py
Due: test-files-binaries, test-files-headers, test-files-imports

feat(VAR): add assertion to validate reserved vars
  dist/stdlib.sh
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/__lib__.sh
  src/var/reserved/__lib__.sh
  src/var/reserved/assert/__lib__.sh
  src/var/reserved/assert/is.sh
  src/var/reserved/assert/tests/is/test_stdlib_var_reserved_assert_is_valid_with.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(FN): add query/assertion to validate keywords
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/fn/REFERENCE.md
  src/fn/__lib__.sh
  src/fn/keyword/__lib__.sh
  src/fn/keyword/assert/__lib__.sh
  src/fn/keyword/assert/is.sh
  src/fn/keyword/assert/tests/is/test_stdlib_fn_keyword_assert_is_valid_with.sh
  src/fn/keyword/query/__lib__.sh
  src/fn/keyword/query/is.sh
  src/fn/keyword/query/tests/is/test_stdlib_fn_keyword_query_is_valid_with.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(TESTING): mock assertion
  .vale/Vocab/stdlib/accept.txt
  dist/stdlib_testing.sh
  docs/locales/en/LC_MESSAGES/reference_testing.po
  locales/en/LC_MESSAGES/stdlib_testing.po
  locales/stdlib_testing.pot
  src/testing/REFERENCE_COMPLETE.md
  src/testing/assertion/REFERENCE.md
  src/testing/assertion/__lib__.sh
  src/testing/assertion/message.sh
  src/testing/assertion/mock.sh
  src/testing/assertion/tests/message/test_stdlib_testing_message_get.sh
  src/testing/assertion/tests/mock/test_stdlib_testing_assert_is_mock.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(TESTING): error logging assertion
  .vale/Vocab/stdlib/accept.txt
  dist/stdlib_testing.sh
  docs/locales/en/LC_MESSAGES/reference_testing.po
  src/testing/REFERENCE_COMPLETE.md
  src/testing/assertion/REFERENCE.md
  src/testing/assertion/__lib__.sh
  src/testing/assertion/logger.sh
  src/testing/assertion/tests/logger/test_stdlib_logger_error_matches.sh
  src/testing/assertion/tests/logger/test_stdlib_logger_info_matches.sh
  src/testing/assertion/tests/logger/test_stdlib_logger_notice_matches.sh
  src/testing/assertion/tests/logger/test_stdlib_logger_success_matches.sh
  src/testing/assertion/tests/logger/test_stdlib_logger_warning_matches.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(VAR): add assertion to validate global vars
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
  src/var/REFERENCE.md
  src/var/__lib__.sh
  src/var/global/__lib__.sh
  src/var/global/assert/__lib__.sh
  src/var/global/assert/is.sh
  src/var/global/assert/tests/is/test_stdlib_var_global_assert_is_valid_with.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

refactor(TOOLS): use modifier variable terminology
  tools/documentation_check.py
  tools/tests/assets/documentation/invalid_description.sh
  tools/tests/assets/documentation/modifier_var_validation.sh
  tools/tests/assets/documentation/modifier_variable_usage.sh
  tools/tests/assets/documentation/valid.sh
  tools/tests/test_documentation_check.py
Due: test-files-binaries, test-files-headers, test-files-imports

mock internal changes
  CONTRIBUTING.md
  dist/stdlib_testing.sh
  src/testing/assertion/logger.sh
  src/testing/mock/arg_string/tests/arg_string/test_stdlib_testing_mock_arg_string_make_from_string.sh
  src/testing/mock/components/call.sh
  src/testing/mock/internal/persistence/registry.sh
  src/testing/mock/internal/persistence/sequence.sh
  src/testing/mock/internal/persistence/tests/registry/test_stdlib_testing_mock_internal_persistence_registry_cleanup.sh
  src/testing/mock/internal/persistence/tests/registry/test_stdlib_testing_mock_internal_persistence_registry_create.sh
  src/testing/mock/internal/persistence/tests/sequence/test_stdlib_testing_mock_internal_persistence_sequence_initialize.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(FN): global variable validation
  dist/stdlib.sh
  src/REFERENCE_COMPLETE.md
  src/fn/REFERENCE.md
  src/fn/args.sh
  src/fn/derive/pipeable.sh
  src/fn/tests/args/test_stdlib_fn_args_require.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(TRAPS): global variable validation
  build/package.sh
  dist/stdlib.sh
  src/trap/create.sh
  src/trap/register.snippet
  src/trap/tests/create/test_stdlib_trap_create_cleanup_fn.sh
  src/trap/tests/create/test_stdlib_trap_create_handler.sh
  src/trap/tests/register_snippet/test_stdlib_trap_register_snippet.sh
  src/trap/tests/trap/test_stdlib_trap_register_default_handlers.sh
  src/trap/trap.sh
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(SETTING): global variable validation
  dist/stdlib.sh
  src/setting/colour.sh
  src/setting/tests/colour/test_stdlib_setting_colour_enable.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(BINARIES): lock down all consumed binaries
  .pre-commit-config.yaml
  dist/stdlib.sh
  dist/stdlib_testing.sh
  src/__lib__.sh
  src/binary.sh
  src/message.sh
  src/security/getter.sh
  src/security/path/make.sh
  src/security/path/query/has.sh
  src/security/path/query/tests/has/test_stdlib_security_path_query_has_group.sh
  src/security/path/query/tests/has/test_stdlib_security_path_query_has_owner.sh
  src/security/path/query/tests/has/test_stdlib_security_path_query_has_permissions.sh
  src/security/path/secure.sh
  src/security/path/tests/make/test_stdlib_security_path_make_dir.sh
  src/security/path/tests/make/test_stdlib_security_path_make_file.sh
  src/security/path/tests/secure/test_stdlib_security_path_secure.sh
  src/security/shell/shell.snippet
  src/security/tests/getter/test_stdlib_security_getter_gid.sh
  src/security/tests/getter/test_stdlib_security_getter_uid.sh
  src/security/tests/getter/test_stdlib_security_getter_uid_next_available.sh
  src/testing/fixtures/debug.sh
  src/testing/mock/components/getter.sh
  tools/binary_check.py
  tools/tests/assets/binary_check/mock.sh
  tools/tests/test_binary_check.py
Due: documentation-build, documentation-source-files, snippet-files-headers, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-binaries, test-files-headers, test-files-imports

Add argument validation and tests for _testing.error_pipe (#27)
  src/testing/error.sh
  src/testing/tests/error/test_stdlib_testing_error_pipe.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(IO): lock file permission controls
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  src/REFERENCE_COMPLETE.md
  src/io/REFERENCE.md
  src/io/lock.sh
  src/io/tests/lock/test_stdlib_io_lock_acquire.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_allocate.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(IO): global variable validation
  dist/stdlib.sh
  docs/locales/en/LC_MESSAGES/reference.po
  locales/en/LC_MESSAGES/stdlib.po
  locales/stdlib.pot
  src/REFERENCE_COMPLETE.md
  src/io/REFERENCE.md
  src/io/lock.sh
  src/io/stdin.sh
  src/io/tests/lock/test_stdlib_io_lock_acquire.sh
  src/io/tests/lock/test_stdlib_io_lock_release.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_allocate.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_cleanup.sh
  src/io/tests/lock/test_stdlib_io_lock_workspace_is_valid.sh
  src/io/tests/stdin/test_stdlib_io_stdin_prompt.sh
  src/message.sh
  src/tests/message/test_stdlib_messages_get.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

feat(VAR): global variable validation
  dist/stdlib.sh
  src/REFERENCE_COMPLETE.md
  src/var/REFERENCE.md
  src/var/assert/is.sh
  src/var/assert/tests/is/test_stdlib_var_assert_is_valid_with.sh
  src/var/global/assert/is.sh
  src/var/global/assert/tests/is/test_stdlib_var_global_assert_is_valid_with.sh
  src/var/query/is.sh
  src/var/query/tests/is/test_stdlib_var_query_is_valid_with.sh
  src/var/reserved/assert/is.sh
  src/var/reserved/assert/tests/is/test_stdlib_var_reserved_assert_is_valid_with.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

mock cleanup
  src/testing/mock/mock.sh
  src/testing/mock/sequence.sh
  src/testing/mock/tests/mock/test_stdlib_testing_mock_create.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

feat(STRING): sensible colour selection fallback
  dist/stdlib.sh
  src/setting/tests/theme/test_stdlib_setting_theme_get_colour.sh
  src/setting/theme.sh
  src/string/colour/tests/test_stdlib_string_colour_n.sh
  src/string/colour/tests/test_stdlib_string_colour_substring.sh
  src/string/colour/tests/test_stdlib_string_colour_substrings.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

general testing updates
  src/testing/capture/assertion_failure.sh
  src/testing/error.sh
  src/testing/fixtures/debug.sh
  src/testing/load.sh
  src/testing/mock/REFERENCE.md
  src/testing/mock/arg_string/make.sh
  src/testing/mock/arg_string/tests/arg_string/test_stdlib_testing_mock_arg_string_make_from_string.sh
  src/testing/mock/components/tests/setter/test_stdlib_testing_mock_object_set_side_effects.sh
  src/testing/protect.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

test(HOST): allow test execution without docker
  AGENTS.md
  Dockerfile
  host.sh
Due: none

feat(LOGGER): global variable validation
  src/logger/logger.sh
  src/logger/tests/test_stdlib_logger_error.sh
  src/logger/tests/test_stdlib_logger_info.sh
  src/logger/tests/test_stdlib_logger_notice.sh
  src/logger/tests/test_stdlib_logger_success.sh
  src/logger/tests/test_stdlib_logger_warning.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords, test-files-headers, test-files-imports

parametrizer
  src/testing/REFERENCE.md
  src/testing/REFERENCE_COMPLETE.md
  src/testing/parametrize/REFERENCE.md
  src/testing/parametrize/apply.sh
  src/testing/parametrize/compose.sh
  src/testing/parametrize/internal/configuration.sh
  src/testing/parametrize/internal/create.sh
  src/testing/parametrize/internal/tests/validate/test_stdlib_testing_parametrize_internal_validate_keywords.sh
  src/testing/parametrize/internal/tests/validate/test_stdlib_testing_parametrize_internal_validate_keywords_aggregation.sh
  src/testing/parametrize/internal/tests/validate/test_stdlib_testing_parametrize_internal_validate_reserved_variables.sh
  src/testing/parametrize/internal/validate.sh
  src/testing/parametrize/message.sh
  src/testing/parametrize/parametrize.sh
  src/testing/parametrize/tests/apply/test_stdlib_testing_parametrize_apply.sh
  src/testing/parametrize/tests/apply/test_stdlib_testing_parametrize_apply_api.sh
  src/testing/parametrize/tests/compose/test_stdlib_testing_parametrize_compose.sh
  src/testing/parametrize/tests/compose/test_stdlib_testing_parametrize_compose_api.sh
  src/testing/parametrize/tests/parametrize/test_stdlib_testing_parametrize.sh
  src/testing/parametrize/tests/parametrize/test_stdlib_testing_parametrize_api.sh
Due: documentation-build, source-files-binaries, source-files-headers, source-files-keywords, source-files-testing-folder-function-names, source-files-testing-folder-global-variable-names, test-files-headers, test-files-imports

tentative
  tools/documentation_check.py
  tools/tests/assets/documentation/invalid_description.sh
  tools/tests/assets/documentation/modifier_var_validation.sh
  tools/tests/assets/documentation/modifier_variable_usage.sh
  tools/tests/assets/documentation/valid.sh
  tools/tests/test_documentation_check.py
Due: test-files-binaries, test-files-headers, test-files-imports

squash fn
  src/fn/args.sh
  src/fn/derive/pipeable.sh
  src/fn/keyword/assert/is.sh
  src/fn/keyword/query/is.sh
Due: documentation-build, documentation-source-files, source-files-binaries, source-files-headers, source-files-keywords

Path conditions:
  documentation-build: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  documentation-source-files: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh|src/testing/.+\.sh)$
  snippet-files-headers: any of: ^src/.+\.snippet$
  source-files-binaries: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-headers: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-keywords: any of: ^src/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-testing-folder-function-names: any of: ^src/testing/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  source-files-testing-folder-global-variable-names: any of: ^src/testing/.+\.sh$, but not: ^((.+/)*tests/.+\.sh)$
  test-files-binaries: any of: ^((.+/)*tests/.+\.sh)$, but not: ^.*/test_.+\.sh$
  test-files-headers: any of: ^((.+/)*tests/.+\.sh)$
  test-files-imports: any of: ^((.+/)*tests/.+\.sh)$
